[2016-07-17 06:14] sir-castiq opened #3 "Bundling"
Hey. Newbie here. would it be possible to include a way of bundling only packages I need together instead of npm installing them on a one by one basis. If this goes against what you're trying to do i'd appreciate if you could explain. thanks.

[2016-07-17 06:30] hemantjadon commented on #3
Really it will be great to have such bundled feature, Can I try to submit a PR regarding this.

[2016-07-17 12:54] aristidesfl opened #4 "Just vs lodash"
Lodash doesn't have dependencies and its methods can be imported individually, e.g.

[code]

How do **just** modules compare to equivalent **lodash** methods?

[2016-07-17 16:59] angus-c commented on #3
What sort of bundling API did you have in mind?

You can install several packages at once with

[code]

[2016-07-17 17:19] angus-c commented on #4
Lodash (even lodash-modularized) has dependencies.

[2016-07-17 17:39] jdalton commented on #4
The `lodash` package itself has no dependencies. It's a collection of modules, e.g. `lodash/chunk`. The individual modularized method packages, e.g. [lodash.chunk](https://www.npmjs.com/package/lodash.chunk). The `lodash` package, because of its popularity, itself is already in everyones npm cache which is nice.

[2016-07-17 18:27] angus-c commented on #4
Lodash is well used and well liked, and I have no problem with people using it.

The question was about the differences. Just had a philosophy of importing just one small function with zero dependencies.

Closing as this is straying off topic.

[2016-07-17 18:27] #4 closed

[2016-07-17 23:03] sir-castiq commented on #3
That works for me. Thanks for taking the time to answer. I was thinking something like a config file with all the packages specified but yours is faster and better.

[2016-07-17 23:03] #3 closed

[2016-07-18 17:43] camerow opened #6 "just-partial-it implementation questions"
Hey,

I got curious about the implementations you've got here - mostly for my own learning purposes. When I was playing with `just-partial-it` I had trouble understanding what role the`globalObj` has?

[code]

And taking that down through the code, what does this line do?

[code]

It looks like it checks to see if `thisPartialArg === {}` which would always evaluate to false.

Like I said, I just w

[2016-07-18 18:54] angus-c commented on #6
Actually this is a great question.
When you invoke `partial` you need to pass placeholder arguments for this arguments you want to supply at runtime. In the following example we want to return a function that resolves the cubed root of something. That something is the placeholder indicated by _

[code]

We need a way for the caller of partial to pass in an argument that will be recognized as a pla

[2016-07-18 18:55] angus-c opened #7 "use null for partial placeholder"
otherwise it's really annoying to use

[2016-07-18 20:35] craigbeck commented on #6
Actually using `_` (which is `undefined`) results in `NaN` as result from examples. Pull request #8 uses `undefined` as placeholder. `null` could be valid and useful value to pass, but `undefined` is clear, explict, and unambigous (i.e. `null` is value or placeholder?)

[2016-07-18 20:36] camerow commented on #6
Craig stole my thunder. Get out of here Craig! (We work together...=D).

[2016-07-18 21:13] angus-c commented on #7
fxied by #8

[2016-07-18 21:13] #7 closed

[2016-07-18 22:02] angus-c commented on #6
@camerow feel free to find another bug :)

[2016-07-18 22:02] #6 closed

[2016-07-21 20:44] ThibWeb commented on #4
@angus-c after looking at this lib's README, first thing I thought is "How does this compare to lodash?" (this is how I stumbled upon this issue). I'd suggest you address this directly in the README, as people picking a dependency for their project are likely to compare this to other libs.

[2016-07-21 20:46] angus-c commented on #4
@ThibWeb I'm planning a blog post on the rationale for Just, which I'll link to here.

[2016-07-21 20:48] Rhernandez513 commented on #4
That would be amazing

On Thu, Jul 21, 2016, 3:46 PM angus croll <notifications@github.com> wrote:

[2016-07-22 19:58] aristidesfl commented on #4
Would be nice to have some concrete numbers in the blog post / comparison , like module size (including dependencies), and performance.

[2016-07-22 20:15] jdalton commented on #4
It kind of feels like retrofitting an argument though since Angus wasn't aware that Lodash was modular or had module packages. Lodash wasn't a deciding factor in Just. Since Angus isn't familiar with Lodash it'd be hard represent it fairly in comparisons. You don't know what you don't know, you know?

[2016-07-22 21:13] erquhart commented on #4
Preface: Lodash user here, and I thought it strange for this lib to exist at first glance. Lodash is modular, duh.

Then I realized it was published by Angus Croll ([Hemingway](https://www.amazon.com/Hemingway-Wrote-JavaScript-Angus-Croll/dp/1593275854), anybody?), and had to figure out why he'd do this. Here's what I found:

* Lodash does have dependencies - sort of. It depends on *itself* via sh

[2016-07-22 21:27] jdalton commented on #4
Lodash's `_.union` is either 2kb or 1kb depending on bundle/package and is ~840x faster. Lodash itself is cached locally so most of the time never downloaded from the registry. Lodash depends on itself so there's less to worry about transitive deps.

[2016-07-22 21:32] erquhart commented on #4
@jdalton yep - not pointing out weaknesses, just points of difference. If Lodash's union is 840x faster than the just package, that'd be very compelling information for folks to be aware of. Might be worth posting a jsperf whenever they're back online.

[2016-07-22 21:33] jdalton commented on #4
I don't think that dep count (esp low to no) is a thing devs should get hung up on. I also don't think stackoverflow copypasta implementations are a strong selling point lib for a lib.

[2016-07-22 21:35] jdalton commented on #4
Lodash has ~100% code coverage, environment testing, and used and depended upon by millions of developers. If there's gaps, bugs, or failings they're addressed promptly.

[2016-07-22 22:44] angus-c commented on #4
I'm not very interested in a *lodash* versus *just* comparison. As I keep saying, I like lodash, the two libraries can and should coexist.

But if the question is why did I build a 10 line utility instead of a 1000 line utility, it's because I can.

[code]

Also what does 840x faster mean? For arrays with Number.MAX_SAFE_INTEGER elements? For all practical purposes I'm more than happy with the res

[2016-07-22 23:00] erquhart commented on #4
I would say the comparison is both necessary and unavoidable, not to determine superiority, but to determine which is the right tool for my project. There's no reason for such comparison to be anything other than amicable.

@jdalton there's no argument, lodash is an excellent lib. You should be proud.

[2016-07-22 23:12] abozhilov commented on #4
@jdalton how did you measure that 840x? I'm pretty sure that you are using O(N ^ 2) worst case time complexity in your `union` in non-native `Set` environment, am I right?
All those `union`, `uique` could be implemented with O(N) best case and O(N log N) worst case.

[2016-07-23 00:07] jdalton commented on #4
@angus-c

The number of files or lines in the `lodash.union` package holds little bearing on the package quality itself. The end result is still one or two kb. With Lodash the dependencies of those individual packages can and are inlined to strike a balance. It's trivial for me to **inline less or more** as needed.

I prefer the primary `lodash` package to the individual method packages because it

[2016-07-23 00:22] abozhilov commented on #4
This is not fair! You are testing best case of Lodash against worst case of @angus-c implementation.
Please share results with the following input data:

[code]

[2016-07-23 00:25] jdalton commented on #4
@abozhilov Linear search bogs down the longer the array is. That's just how it is.

[2016-07-23 00:28] angus-c commented on #4
@jdalton good call with the mutation, I missed that

[2016-07-23 00:30] abozhilov commented on #4
@jdalton obviously you are using native `Set`. That's why I said this is not fair, since primary idea of @angus-c is ES < 6 lib. In non-set environment both approaches will lead to O(N ^ 2) time with my input data.

[2016-07-23 00:35] jdalton commented on #4
@abozhilov
The point is naive vs. a bit more robust. Lodash does a little bit more than an `Array#indexOf` crawl.

[2016-07-23 00:41] jdalton commented on #4
@abozhilov I get it. I do. My ~20 years of JavaScript experience, 11 years of library experience, 4 years of Lodash, and 3 years of engine experience. You'll likely not hit new territory in this thread.

[2016-07-23 00:46] abozhilov commented on #4
@jdalton should I? What I'm saying is: "In non ES6 environment `union` worst case is O(N ^ 2)". You and everyone else on that planet, cannot prove me wrong!

[2016-07-23 00:49] jdalton commented on #4
In older environments I use a `Set` like fallback which stores values in an object so that it avoids linear lookup for all but object values. Even in new environments I do this because it's faster than `Set`.

[2016-07-23 00:58] abozhilov commented on #4
It does not prove anything. If I pass two arrays of objects, the time complexity will be O(N ^ 2).

[2016-07-23 01:01] jdalton commented on #4
Sure, but that's not the primary case for folks and not something Node folks have to worry about in 0.12 and beyond or IE11 and beyond. So Lodash get's great perf most of the time vs. the other folks. Win!

[2016-07-23 01:04] jdalton commented on #4
Put it this way. I pay special attention to methods like `uniq`, `union`, and friends because folks tell me time and time again their performance was a motivating factor in them switching packages.

[2016-07-23 01:07] abozhilov commented on #4
Don't get me wrong. I've never said that Lodash is bad library. My initial comment was about worst case performance time. JS is shitty in set theory API. We had to wait several years before native `Set` and `Map` which support object keys and as you told, their performance is controversial. Peace?

[2016-07-23 01:10] jdalton commented on #4
Way to go. Derail a thread. Look if you want to waste my time do it in email so I can ignore it easier.

[2016-07-23 13:13] abozhilov commented on #4
Next time would better if you take algorithm course, since you don't know what time complexity means! I'm tired from all those javascripters with lack of computer science degree. Anyway, write what you want but don't tell me how your `unique` or `union` is 840x faster since you have O(N ^ 2) worst case! If you are still uncertain what big O means, every algorithm course will help you!

[2016-07-23 14:59] jdalton commented on #4
Thanks! See [this](https://github.com/angus-c/just/issues/4#issuecomment-234689647) where I mention a solution that avoids linear lookup for even objects.

[2016-07-23 16:41] abozhilov commented on #4
Is this O(N) solution? What will be happen with frozen objects? Or again this is an edge case?

Your algorithm can be described with O(N) best case and O(N ^ 2) worst case. Nothing more, nothing less. If you can't get over it, this is not my problem.

[2016-07-23 18:26] jdalton commented on #4
Yep. If it's a frozen object (so an edge of an edge case) it falls back to linear search. Relying on `Array#indexOf` alone means nothing but O(N^2) while others minimize the paths that hit that while keeping O(N) for most environments and use cases.

[2016-07-24 12:59] abozhilov opened #11 "startsWith/endsWith"
Those ES6 method could be implemented in relative elegant way with performance in mind.

For `endsWith` we could use:
[code]

Please note polyfill here https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith and Lodash use `indexOf` which is harmful with long strings and specified endPos argument.

[2016-07-24 13:00] abozhilov commented on #11
I've tested this solution against Lodash and native implementation:

[code]

[2016-07-24 16:41] angus-c commented on #11
Thank you, this is a very nice solution and performs excellently. (Why do you do `+endPos || 0`? Since you're already coercing endPos to a number, wouldn't `+endPos` do the same thing?)

How do you want to proceed? Do you want to make a pull request or shall I do it? Either way is fine with me.

[2016-07-24 17:01] abozhilov commented on #11
`+endPos || 0` is for `NaN` case.

I'll follow contribution guideline and I'll setup pull request with tests.

Some things about contributions. I use for example 4 spaces instead of tabs. I saw you use 2 spaces. Would be great if all contributions follow same line indentation.

Also what is your opinion about feature detection in `just`? If native `endsWith` is available could be used instead, oth

[2016-07-24 17:38] angus-c commented on #11
Oh, of course

Thanks!

Yeah I prefer two indentations. I'll add to contribution guide.
I want to be very consistent with code style. Don't worry if yours is not identical – I can got back afterwards and tweak style.

Actually in general I prefer not to polyfill es6 methods. My idea is for Just to provide utilities not offered by ES. (`template` is the exception I guess but I'm not doing it to ES

[2016-08-03 09:09] jonathan-fielding opened #13 "Commited node modules"
Hi

I noticed that the node_modules folder is committed to the project, can we add this to the git ignore file and remove it?

Thanks

Jonathan

[2016-08-03 09:15] jonathan-fielding commented on #13
https://github.com/angus-c/just/pull/14

[2016-08-03 16:25] #13 closed

[2016-08-15 03:48] yhjor1212 opened #16 "Conflicts with es6 template string"
The syntax of template is exactly the same as the es6 one. As a result, if there is file contain template string and read by just-template, it will modify before the parsing of es6 parsing.

I suggest the change the identifier like {{i.am.a.template}} won't conflict with the es6 one.

[2016-08-16 04:06] angus-c commented on #16
good suggestion - fixed

[2016-08-16 04:06] #16 closed

[2016-09-21 13:43] parthshah1991 opened #20 "Typings needed"
Would you be giving typings for these modules any time soon ?

[2016-09-25 16:02] ilearnio opened #22 "Please add array shuffle function"
A few possible implementations http://stackoverflow.com/q/2450954/1955709

[2016-09-25 16:20] ilearnio commented on #22
I ended up with this function (based on http://stackoverflow.com/a/25984542/1955709)
[code]

[2016-09-29 17:10] angus-c commented on #20
Can you be more specific? Do you mean logic to check the incoming arguments, or using something like typescript or flow? Or do you mean something else?

[2016-09-29 17:27] parthshah1991 commented on #20
I am using typescript with angular 2. So I did import the module, but it requires 'typings' for the same.
Hence was asking, whether you'll be supporting it.

It is a type description of all the methods. Can check lodash, node for reference.

[2016-10-04 03:14] angus-c commented on #22
done 37ec38cdc1a6335e1127a8c31b15378639d89c9b

[2016-10-04 03:14] #22 closed

[2016-10-04 10:03] ilearnio commented on #22
Great! Thanks!!!

[2016-10-19 19:54] angus-c opened #23 "omit empty"

[2016-10-19 19:55] angus-c opened #24 "remove array holes"

[2016-10-21 01:57] dfcreative opened #25 "just-range crashes devtools"
Hi @angus-c!
Awesome collection, I use it here and there.
One gotcha:
[code]
Crashes devtools.

[2016-10-21 01:59] dfcreative commented on #25
A question: why [here](https://github.com/angus-c/just/blob/master/packages/array-range/index.js#L20) we have a strong equal condition, not the `<=`?

[2016-10-21 03:19] dawsonbotsford commented on #25
I helped build this one. The original intent was solely focused on integers. I can see why you'd want to have a range that doesn't involve just integers though. Would you like to do the honors of the PR @dfcreative? If not, I can.

[2016-10-21 03:24] dfcreative commented on #25
I came up with that workaround:
[code]
Not convinced it is good though, if you know better solution @dawsonbotsford, then let us better have your PR :)

[2016-10-21 03:31] dawsonbotsford commented on #25
That looks nice instead, my PR was such a split-second response that I missed all of the negative test cases. What do you think of the approach above @angus-c?

Ignore my PR for now

[2016-10-21 04:22] angus-c commented on #25
This looks nice. Thanks both of you. Will need a new test I guess.

[2016-10-21 07:51] dawsonbotsford commented on #25
My PR is updated with @dfcreative's loop method and some new tests (that previously failed).

[2016-10-21 14:51] angus-c commented on #25
fixed by #26

[2016-10-21 14:51] #25 closed

[2016-10-21 14:52] angus-c commented on #24
done

[2016-10-21 14:52] #24 closed

[2016-10-21 14:52] angus-c commented on #23
done

[2016-10-21 14:52] #23 closed

[2016-10-21 20:43] dfcreative commented on #25
Awesome!
@angus-c could you please bump npm version? Thanks!

[2016-10-21 21:32] angus-c commented on #25
yeah - sorry forgot that. Will do tonight.

[2016-10-23 01:00] dfcreative commented on #25
@angus-c sorry to bug, but is there any progress on that?

[2016-10-23 15:52] angus-c commented on #25
@dfcreative done! Sorry for the delay.

[2017-05-05 14:54] angus-c opened #36 "add these utils"
just-zip

[2017-06-28 06:56] madnight commented on #4
the differences to lodash should be listed in the readme.md, because that will be the first question that a typical js developer come up with

[2017-06-30 03:00] suhasdeshpande commented on #36
Is this something I can take a stab at?

[2017-07-01 01:49] angus-c commented on #36
You can have a stab at [just-zip](http://colin-dumitru.github.io/functional-programming/javascript/tutorial/2014/12/28/functional_operations_in_es6.html#zip) if you like. I'll warn you I'm a difficult repo owner though — I usually asks for loads of edits to PRs :)

[2017-07-01 01:51] angus-c commented on #36
Not using map though—no higher order functions

[2017-07-01 12:15] kamilogorek commented on #36
Spread and no error handling version:

[code]

ES5 version:

[code]

[2017-07-03 22:08] angus-c commented on #36
https://github.com/angus-c/just/pull/41

[2017-07-03 22:08] #36 closed

[2017-07-04 12:01] abozhilov commented on #36
Am I missing something or this is a `longZip`? For example Python's `zip` the returned list length is equal to  the length of the shortest list passed as argument.

[2017-07-04 12:11] abozhilov commented on #36
How about:

[code]

?

[2017-07-04 12:12] abozhilov commented on #36
IMHO it should work with any Array like objects. There is no need of checking `Array.isArray(args[i])`

[2017-07-04 16:17] kamilogorek commented on #36
@abozhilov this implementation is in line with `zip` definition from wiki – https://en.wikipedia.org/wiki/Convolution_(computer_science)#Definition

You are totally right that Python, Haskell and most of the languages are truncating an input, however, Underscore and LoDash are using the longest input, and I believe that keeping it the same here is a better option.

@angus-c didn't want to use high

[2017-08-05 22:01] DylanPiercey opened #46 "Switch to namespaced modules."
Great list of modules here. I think it would be a good idea to switch to [scoped modules](https://docs.npmjs.com/misc/scope) with a [public org](https://www.npmjs.com/docs/orgs/).

There are several benefits here:

1) There is no chance that someone could steal a package name.
2) Users can more trust `just` packages without worrying about squaters/malware.
3) You can more easily give other develop

[2017-08-08 22:29] DylanPiercey opened #47 "just-once"
For functions that should only be invoked once:

[code]

Usage:

[code]

[2017-08-18 04:54] angus-c commented on #47
https://github.com/angus-c/just/pull/48

[2017-08-18 04:54] #47 closed

[2017-09-06 09:39] rereadyou opened #51 "just-diff fails on array or object with null member value"
const {diff, jsonPatchPathConverter} = require('just-diff')

diff(
{a: 'a', b:null, c:'b'},
{a: 'a', b:'b'},
  /* jsonPatchPathConverter */
);

result in:
Array (2 items)
0: Object
op: "remove"
path: ["c"]
1: Object
op: "add"
path: ["b"]
value: "b"

should it be:
Array (2 items)
0: Object
op: "remove"
path: ["c"]
1: Object
op: "replace"
path: ["b"]
value: "b"

[2017-09-06 17:59] angus-c commented on #51
good catch - will fix tonight

[2017-09-07 04:05] angus-c commented on #51
should be fixed now
* just-diff v2.0.2
* just-diff-apply v1.0.1

[2017-09-07 04:05] #51 closed

[2017-09-08 18:17] angus-c opened #52 "partial fails for trailing arguments"
e.g
[code]
solution is to concat unused argument at the end of function apply

[2017-09-09 05:18] angus-c commented on #52
Fixed in just-partial-it 2.0.0

[2017-09-09 05:18] #52 closed

[2017-09-14 20:44] angus-c opened #54 "Publish just-split"

[2017-09-15 13:58] #54 closed

[2017-10-13 22:32] vidhill opened #63 "just-flip example code broken/doesn't work as expected?"
I was looking at `just-flip`,

I thought the example code looked interesting so I copied it into runkit, however the code does not git the expected result, an in the comments
It actually fails with an error,

I tried to fix the example, but I couldn't quite work it out
something about the combination of `just-flip` and `just-map-object`

[code]

https://runkit.com/vidhill/59e13d4ae9c3a00012eb22a8

[2017-10-14 01:19] angus-c commented on #63
Hi, so I think the issue is just-curry doesn't work that way. It only takes the function as an argument, then saves subsequent args until it has enough.

[code]

You want just-partial instead (note it uses `undefined` and not `_` for the placeholder)

[code]
Here's the runkit...
https://runkit.com/angus-c/59e165c5dc90a9001269a7f4

Hope this helps.

[2017-10-15 18:34] #63 closed

[2017-10-15 21:52] vidhill commented on #63
Cheers,
Love the repo (utility set) by the way.

[2017-10-16 21:31] DylanPiercey opened #66 "Switch to typescript."
@angus-c not sure if you are a fan of typescript but I think it's worth considering converting 'just' packages to use it.

Primarily this would be great for users as it would bring autocompletion for VSCode (or atom with plugin) with inline docs. You can also achieve this by creating 'typings' files however there are many other advantages to using typescript.

If you are interested in this I'd be

[2017-10-17 01:15] angus-c commented on #66
Hi Dylan, I'm not a huge TypeScript fan, (though mainly because I've never used it for a proper project). Appreciate the offer of help but I think I'll pass on it for now (would like to avoid the transpile step and associated size increase too)

[2017-10-17 01:17] DylanPiercey commented on #66
Fair enough, just thought I'd bring it up. If you ever do want to checkout typescript for a module checkout [one of my smaller modules](https://github.com/DylanPiercey/header-field) for a clean setup 😄. The hardest part of getting in for me was getting that base config right.

[2017-10-17 01:17] #66 closed

[2017-10-17 09:30] ksmolyanin opened #67 "Improvement: create library interface definitions for use with Flow"
Currently there are more and more developers that use Flowtyped. So it would be great if you create library interface definitions for use with Flow and send them to the official repo: https://github.com/flowtype/flow-typed

[2017-10-22 03:22] thom-nic opened #70 "latest release broke require('sinon')"
[code]
Ouptut:
[code]

Re: sinonjs/sinon#1591

[2017-10-22 04:06] erikbarke commented on #70
This bug seems to have appeared in `just-extend@1.1.23`, `sinon@4.0.1` works if I downgrade to `just-extend@1.1.22`.

[2017-10-22 07:17] camjackson commented on #70
For those using yarn, you can work around this issue for now by adding this to your `package.json`:

[code]

I'm not sure if there's an equivalent feature for npm. Perhaps someone else can share.

[2017-10-22 07:53] davedoesdev commented on #70
For npm, you can edit `package-lock.json`. Replace `1.1.24` with `1.1.22` and change `integrity` to `sha1-MzCvdWyralQnAMZLLk5KoGLVL/8=`.

[2017-10-22 07:56] DylanPiercey opened #71 "just-merge/just-extend any object."
Looks like the last release changed `just-extend` to have an `object` type check.

I personally use the utility for functions like so:

[code]

It'd be nice if this could be supported again.

---

Edit: Also this a breaking change and published as a patch release.

[2017-10-22 08:15] ljharb commented on #70
Due to the semver range, you don't need a lockfile to work around this - `npm install --save-dev just-extend@=1.1.22` should do it.

[2017-10-22 08:22] ljharb commented on #70
Specifically, the bug is due to forgetting that functions are objects too: https://github.com/angus-c/just/commit/59fdd5eed9b0dbeb56990db53400a0cef152144a#commitcomment-25116347 and https://github.com/angus-c/just/commit/59fdd5eed9b0dbeb56990db53400a0cef152144a#commitcomment-25116346

[2017-10-22 15:55] Aladdin-ADD commented on #70
this fix not working for npm v2?

[2017-10-22 16:17] angus-c commented on #70
Very sorry for this. Latest just-extend has the fix (v1.1.26)

[2017-10-22 17:19] angus-c commented on #71
Sorry, this was totally unintentional and fixed in v1.1.26. Intention was to provide prompt/clear error info if you passed a primitive arg. Did not mean to exclude functions!

[2017-10-22 17:34] #71 closed

[2017-10-22 17:35] #70 closed

[2017-10-22 18:16] DylanPiercey commented on #71
No problem, thanks for the quick fix!

[2017-10-23 03:06] camjackson commented on #70
Thanks for fixing it so quickly @angus-c 👍

[2017-10-27 23:06] angus-c opened #73 "Remove higher order functions from source"
Needs fixing:
* just-reduce-object

[2017-10-27 23:07] angus-c opened #74 "Add browser compat table to README"
and make it pretty
Something like:

|Chrome | Safari | Firefox |Edge | IE | Node | iOS Safari | Android
|--| ---|---|------- |----------- |--|--|--|
|5 | 5 | 4 | 12 | 9| 0.10 | 6 | 4 |

[2017-10-27 23:23] angus-c commented on #74
and make it pretty

|Chrome | Safari | Firefox |Edge | IE | Node | iOS Safari | Android
|--| ---|---|------- |----------- |--|--|--|
|5 | 5 | 4 | 12 | 9| 0.10 | 6 | 4 |

[2017-11-07 22:56] mightyiam commented on #20
Yup. TypeScript types. Would like them, as well. I am looking for an alternative to `lodash.keyBy`, exactly because its typings seem unsatisfactory to me. `just-index` seems like what I'm looking for, but it has no typings.

I think the easiest and most fail-safe way to have typings is to rewrite in TypeScript. But that is radical and if the developer is fond of TypeScript he would have done it by

[2017-11-08 04:39] angus-c commented on #20
Would adding Just here be a workaround? https://github.com/DefinitelyTyped/DefinitelyTyped

[2017-11-08 12:28] mightyiam commented on #20
Yup. It would. I never did that, but I imagine it to be quite meticulous and error prone. I seriously don't know how types are manually made for codes as complex lodash, for example. But they are. I bet there are some tips and tricks that come with experience. Seems a bit overwhelming to me. That's why I would suggest converting to TypeScript and letting the compiler produce correct typings for th

[2017-11-08 19:07] angus-c commented on #20
I would consider a TypeScript rewrite if I was already transpiling. One of the biggest benefits of writing Just in ES5 (and without dependencies) is I don't need a transpiler. This is invaluable in terms of import cost, debuggability  and predictability.

[2017-11-08 19:41] mightyiam commented on #20
No kind of pressure from me at all here, @angus-c. Just sharing that from my experience with TypeScript, it contributes to predictability.

Debugging involves source maps, if you wish. But you could always turn them off and debug the end product. Since you're not interested in down-transpilation from new to old ES, then the end product is pretty much the source minus the types.

[2017-11-08 20:40] angus-c commented on #20
Yeah I get that (and have used source maps a lot in other projects. I love ES2015+, it's just liberating not to use it in the case of this project since it gives me much more control over performance and size, versus deferring to babel) and I do agree that TS doesn't add transpile bloat, unlike babel/webpack.

One further consideration, I've added a lot of manual type checks for arguments which I

[2017-11-09 17:22] #20 closed

[2017-11-10 21:41] pavvell opened #77 "object-extend does not work with dates"
object-extend converts dates in merged object into empty object.
Is that on purpose, such simplicity of the function?

[2017-11-11 21:43] angus-c commented on #77
yeah it works with shallow copy

[code]

but not with deep copy
[code]

this is because deep copy assumes that objects being cloned is an array or a plain object. I should make it check for date, regex etc and simply not clone these.

[2017-11-12 01:26] #77 closed

[2017-11-12 01:36] #73 closed

[2017-11-12 01:40] angus-c commented on #46
is it possible to alias to the current location so existing users' apps won't break?

[2017-11-12 01:41] angus-c commented on #74
might wait till I have tests running in sauce labs / browserstack before adding this

[2017-11-12 02:26] DylanPiercey commented on #46
Not that I’m aware of. I suppose you could technically have two folders for all repos and use Lerna to publish under the old name and new name in lock step.

[2017-11-23 18:43] angus-c commented on #46
Closing for now since, although I like the idea, I don't yet know of a way to easily alias to old location.

[2017-11-23 18:43] #46 closed

[2017-11-27 20:00] charleskoehl opened #82 "just-safe-get does not support arrays within objects as lodash does"
Example:
[code]

[2017-11-28 20:40] angus-c commented on #82
Hi Charles, I think you meant `get(obj, 'a.aa[1]');`.

As mentioned in the [TRADEOFFS.md](https://github.com/angus-c/just/blob/master/TRADEOFFS.md), _just-get_ follows the standard set by the popular [Dotty library](https://github.com/deoxxa/dotty) which supports the following syntax:

`get(obj, 'a.aa.1');`

[2017-11-29 08:31] ritz078 opened #83 "Allow undefined in just-extend"
Going in the lines with `Object.assign()`, `undefined` should be allowed as an argument.

**Actual Behavior**

[code]

**Expected Behaviour**

[code]

**lodash**

[code]

**Object.assign**

[code]

Most of the times, I will be using it as a polyfill for `Object.assign` so I really will want `just-extend` to have an API similar to it?

[2017-11-29 16:36] angus-c commented on #83
Hi Ritesh.

I believe this works as of 1.1.27. See http://anguscroll.com/just/just-extend.

Please confirm this works for you.

[2017-11-30 12:13] ritz078 commented on #83
Yes, it is working great. Thanks for this awesome collection of utilities. :)

[2017-11-30 12:13] #83 closed

[2017-11-30 17:19] angus-c commented on #83
Thanks for using them! Happy to consider any future feature requests.

[2017-12-01 22:40] angus-c commented on #82
Closing as this is by design and the functionality is available via an alternative syntax.

[2017-12-01 22:40] #82 closed

[2018-01-22 15:20] ilearnio opened #87 "just-diff problem with dates"
`just-diff` package doesn't seem to be working fine with dates. Check this out https://runkit.com/artnikpro/5a6600fdc7cb7100129978e2

[2018-01-22 18:55] angus-c commented on #87
This happens when a value is an object but has no properties (e.g. a date or a regex).

Need to:
1) extend `replace` condition to include `!obj1KeysLength || !obj2KeysLength` (or add another replace push immediately on entering getDiff if `!obj1KeysLength || !obj2KeysLength`
2) write tests for this

[2018-01-23 18:08] angus-c commented on #87
Pushed fix. Will publish tonight

[2018-01-23 18:46] ilearnio commented on #87
Awesome! Thanks! 👍

[2018-01-23 19:17] arkadyp opened #88 "just-safe-get returns empty object when accessing `null`/`undefined` properties on empty object"
<img width="1009" alt="bug with just-safe-get" src="https://user-images.githubusercontent.com/5151498/35295776-b133fcf4-003f-11e8-9c3b-a4af4748b59a.png">
<img width="476" alt="bug with just-safe-get undefined" src="https://user-images.githubusercontent.com/5151498/35295777-b14342d6-003f-11e8-8877-e3272b3e0c61.png">

[2018-01-23 21:42] angus-c commented on #88
Thanks for reporting.

I see the issue: `while ((prop = props.shift()))` is bailing early if the prop is a falsey. Instead I should check whether props is not empty. Will fix shortly.

[2018-01-24 16:21] arkadyp commented on #88
Thanks for looking into this! Could you please bump the package version so that I can pull this update into my project?

[2018-01-24 18:08] angus-c commented on #88
@arkadyp Let me know if @1.2.0 fixes it for you

[2018-01-24 18:08] angus-c commented on #87
Should be fixed in @2.1.1

[2018-01-24 19:12] arkadyp commented on #88
Looks like it's working!

[2018-01-25 17:19] #87 closed

[2018-02-09 12:18] bytesnz opened #89 "just-clone does not clone non-standard objects (eg a Date)"
If there is a Date in the object being clone, its clone is an empty Object. I would expect it to be a clone of the Date. I have put an example on [runkit](https://runkit.com/bytesnz/5a7d910c9be79a00122fc8ed)

[2018-02-09 17:32] angus-c commented on #89
Similar issue to https://github.com/angus-c/just/issues/87 (will also affect just-extend).
Will fix tonight.

[2018-02-11 03:39] angus-c commented on #89
Turns out this was already partially fixed in v2.0.0 (I had forgotten to publish it!)

The cloned object will now return a date but it's not a clone of the original date. Non-plain objects (functions, dates, regex etc) each require their own specialized clone method so for v2 tests I explicitly didn't expect cloning of these types (https://github.com/angus-c/just/blob/master/test/collection-clone/

[2018-02-12 08:31] rikur opened #92 "default export diff and diffApply"
First of all: Thank you for the collection, this is just what I needed!

There's a slight inconsistency on the module exports. All other utils have a default export except for diff and diffApply. It should be trivial fix this without breaking existing use of the libraries.

[code]

could and should be supported alongside with

[code]

Let me know what you think. I can create a PR if you agree.

[2018-02-12 17:21] angus-c commented on #92
Thanks for the kind words!

Sounds good. (I honestly don't know how to have node module.export both a top level object and properties other than `module.exports = diff` and then add the `jsonPatchPathConverter` property to `diff`

[2018-02-15 20:30] ilearnio opened #93 "just-unique doesn't compare dates and regexps"
https://runkit.com/embed/kpfrw8yx9h16

[2018-02-17 03:49] angus-c commented on #93
I think this is expected behavior. Objects are considered unique if they are not === to each other. All distinct objects are never === to each other even if their keys and values are the same. The following results are true for both `just-unique` and `lodash.uniq`

[code]

[code]

[code]

[code]

[2018-02-17 03:49] #93 closed

[2018-02-18 20:50] #89 closed

[2018-02-18 20:57] angus-c commented on #89
Fixed, now clones dates and regexps (but not functions)

[2018-02-20 17:53] angus-c commented on #92
Hi @rikur. Happy to keep this open if a PR is pending. Otherwise I'd like to close to keep a clean house.

[2018-02-21 05:14] #74 closed

[2018-02-23 01:05] rikur commented on #92
Oh, sorry. I'm closing it now. I'll submit a PR when I find the moment.

[2018-02-23 01:05] #92 closed

[2018-03-12 02:14] sean256 opened #98 "compare throws `TypeError: Cannot convert undefined or null to object` when a property goes from object to null"
[code]

runkit link: https://runkit.com/sean256/5aa5e1debecef50012959600

[2018-03-12 04:14] sean256 commented on #98
https://github.com/angus-c/just/pull/99

[2018-03-12 05:05] angus-c commented on #98
Many thanks for finding this! See my suggestion in the PR.

[2018-03-12 16:16] #98 closed

[2018-03-28 16:44] lennygran opened #100 "Loading JSON Schema draft-7 meta-schema fails"

[2018-03-28 17:15] #100 closed

[2018-05-26 11:08] ilearnio opened #103 "just-pick without undefined values"
Currently `just-pick` returns undefined values for not found keys. I'm not sure where this can be useful. For me it's basically always a problem.

In lodash it's done differently, it never returns undefined values.

Maybe it makes sense to add a 3rd parameter that will allow to skip undefined values? Or maybe add a breaking change (new version) that will remove undefined values by default? That wo

[2018-05-27 18:30] angus-c commented on #103
Breaking change suggestion is good. I'll get into it. Thanks for letting me know!

[2018-05-27 18:44] angus-c commented on #103
Fixed in v2.0.0

[2018-05-28 03:49] ilearnio commented on #103
That's fantastic! Many thanks! Closing

[2018-05-28 03:49] #103 closed

[2018-07-24 06:26] shreedharshetty opened #106 "Should you prevent extending constructor/proto?"
in [#Line45](https://github.com/angus-c/just/blob/master/packages/object-extend/index.js#L45) while looping through properties, can we have a check like this `extender.hasOwnProperty(key)` to prevent overriding constructor/proto?

[2018-07-24 16:09] angus-c commented on #106
I think there's a valid use case for extending prototype properties too. (I should, however, add tests for this)

[2018-08-01 06:39] char0n opened #107 "LICENSE file missing in npm package"
Hello, is it possible to incorporate the LICENSE file inside the npm package ? Now it's missing. It's implied by MIT license that if licensed under the MIT the source code must be accompanied by full license text. If the license file is not in the npm package a lot of people cannot use it (technically, nobody can).

Thank you

[2018-08-01 20:20] angus-c commented on #107
I didn't realize that. I thought it was sufficient for the LICENSE to appear in the root directory of the Github repo.

[2018-08-06 01:23] #106 closed, assigned to nobody

[2018-08-07 10:11] char0n commented on #107
According to our legal and the license itself (MIT) it's not enough. MIT requires that the code is associated with the full license text when being distributed. NPM is a form of distribution and the code inside the npm package contains associated license text, so technically even by the terms of MIT license it's unclear how the code can be used without it.

Thank you

[2018-08-07 22:17] angus-c commented on #107
Ok thanks for the info. I'll try to do this in the next couple of days. In the meantime you have my word it's ok to use the code as you please.

[2018-08-09 04:58] angus-c commented on #107
Resolved. Bumped every package by a minor increment and included a LICENSE file in each

[2018-08-09 06:14] char0n commented on #107
Thank you very much. I confirm the npm distribution now contains the license.

[2018-08-09 06:14] #107 closed

[2018-10-02 18:58] RemiVillien opened #110 "SyntaxError: Invalid regular expression: /+/: Nothing to repeat"
Hi,

When I filter an object with a string with a "+" this error is thrown
`SyntaxError: Invalid regular expression: /+/: Nothing to repeat`

[2018-10-02 19:11] #110 closed

[2018-10-15 23:33] heygrady opened #111 "just-camel-case not a drop-in replacement for lodash.camelcase"
- [just-camel-case](https://bundlephobia.com/result?p=just-camel-case@3.1.0) 401B
- [to-camel-case](https://bundlephobia.com/result?p=to-camel-case@1.0.0) 715B
- [locash.camelcase](https://bundlephobia.com/result?p=lodash.camelcase@4.3.0) 4.6kB

There are some cases where just-camel-case produces subtly different results from lodash.camelcase. I noticed this while trying to replace lodash.camelcas

[2018-10-16 04:29] angus-c commented on #111
Many thanks for your observations and feedback Grady. Yeah, I made those decisions consciously, knowing that they differ from lodash etc., but believing that was a more accurate interpretation of the camel case definitions I could find.

However I think you're probably right, it would be more practical to make it behave more like lodash etc. as this has become the de facto standard.

Thanks for yo

[2018-10-20 22:42] #111 closed

[2018-10-20 22:51] angus-c commented on #111
just-camel-case@4.0.1 fixes these issues. I've dropped the strict option requirement and it now gives very similar results to lodash and passes your tests.

Let me know if I missed anything.

[2019-02-14 15:39] Berkmann18 opened #121 "diff path emptied"
I'm using both `just-diff` and `just-diff-apply` and I noticed that once an array of diffs (I called it `dif`) is passed into `diffApply`, the `path` field of the objects in that array are empty which I didn't expect and I'm not sure I should have expected that.

Example code:
[code]

[2019-02-14 20:46] angus-c commented on #121
Do you mean you're surprised `dif` appears to get mutated by `diffApply`? That shouldn't happen, I'll take a look.

[2019-02-15 05:35] angus-c commented on #121
Fixed in `just-diff-apply@2.0.0`

[code]

[2019-02-15 05:35] #121 closed

[2019-02-15 09:35] Berkmann18 commented on #121
@angus-c

Yes.

[2019-02-26 23:02] antony opened #122 "Capitalize replacement"
I notice there is a lack of a capitalize package, similar to `capitalize` provided by lodash.

I'm using the pascal-case module for now, but it removes dashes where I don't want it to.

Would you be up for adding a capitalize package if I open a PR?

[2019-02-26 23:45] angus-c commented on #122
Sure!

[2019-02-28 17:37] ilearnio opened #124 "typeOf(async () => {}) === 'asyncfunction'"
Just found a potential pitfall that caused a bug in out app. When passing an `async` function to `just-typeof` it returns `"asyncfunction"` but should return `"function"`, because there is no such type in ECMA specification.

See it in action:
https://runkit.com/artnikpro/5c781b9516d1d00012427b06

[2019-02-28 18:35] angus-c commented on #124
Oh great catch! Will fix tonight.

[2019-03-01 05:13] #124 closed

[2019-03-01 05:15] angus-c commented on #124
Should be fixed in just-typeof@2.0.0

[2019-03-07 21:24] jedmao commented on #67
Flow is becoming more and more irrelevant these days. Even Facebook has started to use TypeScript internally.

https://www.npmtrends.com/flow-typed-vs-typescript

[2019-03-07 23:53] jedmao opened #126 "Reconsider TypeScript"
TypeScript type definitions were already requested in #20 and #66 back in 2016-2017, but the landscape has changed much since then.

[Two concerns were expressed in #20](https://github.com/angus-c/just/issues/66#issuecomment-337088355), that you would like to avoid, which I will address below, but first let me state the value proposition.

## Value Proposition

For a library such as this, it makes

[2019-03-08 05:14] angus-c commented on #126
Hi Jed, thanks for the issue and I appreciate you taking the time to make it thorough and well-reasoned.

I agree that TS usage is growing and I'm pretty sure there are a section of developers who would be more likely to use Just if it had a typed interface. However I'm still not sure it's necessary to write Just in TS in order to use it in JS. As you can probably guess I'm pretty obsessive about

[2019-03-08 06:03] jedmao commented on #126
@angus-c I love your response, even though I have a different mindset. I can tell that you read the whole post and carefully responded to every point I made. Respect! 🙇

I don't have any more ammo to bring to this conversation, so it looks like I'll have to fork it myself if I want to take it in this direction. I'm going to close the issue, but thanks for listening!

[2019-03-08 07:17] jedmao commented on #126
I just wanted to give you a taste for what an actual PR might look like. See https://github.com/angus-c/just/commit/a093c6debfb0e9778fb55bbbb68f342c7e7ba5ff

[2019-03-08 17:15] angus-c commented on #126
But then I have to transpile this because of `...rest`. I'm actually trying to use almost exclusively ES3 (`Object(keys)`  is an exception) for perf reasons.

[2019-03-08 19:26] jedmao opened #128 "Prettier, husky, lint-staged"
Would you be open to introducing [Prettier](https://prettier.io/), [husky](https://www.npmjs.com/package/husky) and [lint-staged](https://www.npmjs.com/package/lint-staged) to ensure the code is formatted properly on every commit?

[2019-03-08 23:29] angus-c commented on #128
Sure, I run prettier via VSCode but am open to having the commit hook to auto fix.

[2019-03-08 23:47] jedmao commented on #128
To take it a step further, would you also be open to including a `.vscode` folder with a [recommended extensions list](https://github.com/jedmao/ts/blob/master/.vscode/extensions.json) and perhaps some workspace settings to [format on save](https://github.com/jedmao/ts/blob/master/.vscode/settings.json)?

[2019-03-08 23:49] jedmao commented on #128
I should also add that Prettier extends EditorConfig out-of-the-box. A proper Prettier installation is to also install [`eslint-config-prettier`](https://www.npmjs.com/package/eslint-config-prettier):

Which means we have to get rid of any "formatting" rules in eslint and let Prettier do its job.

I'm willing to do all this work. Just need to know what you're willing to support before I waste cycl

[2019-03-08 23:55] angus-c commented on #128
`.vscode folder`: No, I don't want any IDE specific code
`use eslint-config-prettier rules`: No I want to stick with the rules I have and use `eslint --fix` (via plugin)

[2019-03-09 00:16] jedmao commented on #128
So you want to run `eslint --fix` _after_ Prettier? This is backwards, BTW. Just asking for clarity.

[2019-03-09 00:19] jedmao commented on #128
I mean, one of the whole points of Prettier is to stop bikeshedding over opinionated formatting preferences.

[2019-03-09 00:25] angus-c commented on #128
Prettier is just a wrapper around `eslint --fix`. You can use prettier's formatting suggestions or you can set your own in .eslintrc and use `eslint --fix`. The mechanism is identical.

There is no bikeshedding because I created the .eslintrc

In VSCode I can emulate prettier behavior but using my own config via the `eslint.executeAutofix` setting.

[2019-03-09 00:34] jedmao commented on #128
The [`eslint-plugin-prettier`](https://github.com/prettier/eslint-plugin-prettier) is, yeah. That's one way of doing it.

[2019-03-09 00:36] angus-c commented on #128
Not even. Just dbaeumer.vscode-eslint

[2019-03-09 00:38] jedmao commented on #128
There are conflicts with certain rules you've defined in ESLint vs. Prettier. Just one example is the [`curly`](https://github.com/prettier/eslint-config-prettier#curly) rule.

I'm sure there's more.

[2019-03-09 00:41] angus-c commented on #128
It doesn't matter because I have no interest in using prettier's rules in this project.

[2019-03-09 23:43] #128 closed

[2019-03-09 23:50] jedmao opened #130 "Did you generate your docs site?"
What tools did you use? Thanks.

[2019-03-10 17:04] angus-c commented on #130
No special tools, just react / webpack.
See [gh-pages branch](https://github.com/angus-c/just/tree/gh-pages)

[2019-03-10 20:35] jedmao commented on #130
Thanks!

[2019-03-10 20:35] #130 closed

[2019-03-12 04:22] bakkot commented on #122
Presumably fixed by #123?

[2019-03-12 04:34] angus-c commented on #122
Yep!

[2019-03-12 04:34] #122 closed

[2019-03-16 00:14] neodingo commented on #67
Why?

[2019-04-23 22:15] antony opened #132 "just-is-empty says that the number 0 is empty"
Not sure if this is desired behaviour or not, but I don't consider 0 to be empty.

What was the intention?

[2019-04-24 18:37] angus-c commented on #132
I think I need to revisit this. Lodash isEmpty returns false for any non-enumerable (so all primitives too)

[2019-05-05 20:31] angus-c commented on #132
Created just-is-empty@2.0.1 which follows the more conventional definition (e.g. that used by underscore, lodash):

- all primitives are now empty
- object, array, set, map are empty of no enumerable keys

I know this doesn't fix your issue (sorry!) but it alerted me to the inconsistent definition (thanks!)

Feel free to create a new issue for a new utility for what you need.

[2019-05-05 20:31] #132 closed

[2019-06-10 20:27] Manu1400 opened #138 "A mistake in just-modulo documentation"
Found in documentation:
`modulo(16.2, 3.8); // 17`

but `modulo(16.2, 3.8)` give 1

[2019-06-11 15:49] angus-c commented on #138
Good catch thanks!

[2019-06-11 15:53] angus-c commented on #138
Fixed via Github UI

[2019-06-11 15:53] #138 closed

[2019-06-21 13:44] mightydes opened #139 "Numeric object property"
Good day!
What about case, when Integer used as Object property, for example:

[code]
In diff `path` it looks like Array index...
It would be useful if the `pathConverter` method would have a second argument with types...

[2019-06-22 00:57] angus-c commented on #139
Hi Lev,

Can you give a full example? (perhaps via the [REPL](https://anguscroll.com/just/just-diff))

[2019-06-24 07:59] mightydes commented on #139
https://runkit.com/mightydes/5d108178ea5ab1001d95fcf4

![Выделение_129](https://user-images.githubusercontent.com/4075454/60001396-1044ee80-966f-11e9-994c-014d017d841f.png)

[2019-06-24 16:17] angus-c commented on #139
I think this is correct, because array property indexes are actually strings. (JavaScript coerces number indexes into strings when assigning new values to an array.

[code]

[2019-06-24 16:33] mightydes commented on #139
Yes, but it matters for assigning by path.

For example:

[code]

With current behavior you cannot acces path using [Ramda lens](https://ramdajs.com/docs/#lensPath) for example...

[2019-06-24 19:45] angus-c commented on #139
Ok, I'll try to get to this in the next few days

[2019-06-25 17:11] angus-c commented on #139
Fixed by #140

just-diff@3.0.0
just-diff-apply@3.0.0

[2019-06-28 17:07] #139 closed

[2019-07-14 07:17] AlexMSmithCA commented on #67
Recent contributions to the flow-typed effort have started to add Flow types (e.g. [just-safe-get](https://github.com/flow-typed/flow-typed/tree/master/definitions/npm/just-safe-get_v1.3.x) and [just-safe-set](https://github.com/flow-typed/flow-typed/tree/master/definitions/npm/just-safe-set_v2.1.x)).

I'd recommend creating PRs within the [flow-typed repo](https://github.com/flow-typed/flow-typed

[2019-07-19 09:03] kbhokray opened #143 "Output of just-diff not compatible with just-diff-apply for arrays"
When the output of just-diff on an array is run through just-diff-apply, the resulting array is not the same:

[code]

Is this behaviour expected?

[2019-07-19 15:52] angus-c commented on #143
Good catch, this is a significant issue that I overlooked.
I should either
a) reverse sort remove ops by key
or
b) instead of deleting replace with a placeholder and finally purge placeholders

[2019-07-21 02:51] kbhokray commented on #143
Caught the bug just before we were going prod :sweat_smile:. Reverse sort looks like a lot of work since it should be a path dependent reversal. We finally went ahead with [this](https://github.com/mirek/node-rus-diff) library which uses replace, which might be a better way IMHO.

[2019-07-21 18:21] #143 closed

[2019-07-21 18:23] angus-c commented on #143
If you're still interested it's fixed in just-diff@3.0.1, I ended up sorting removes (by full path) in the just-diff app.

Thanks again for reporting this!

[2019-08-05 13:47] jakub-g opened #146 "safe-get / safe-set: fix / document more differences with lodash"
1. With lodash you can pass a default value as a third parameter, with just you need to check for `undefined` manually (or ` || defaultValue` if accepable)

2. https://github.com/angus-c/just/blob/master/TRADEOFFS.md says

However the top-level and package-level docs show the examples with the array notation which seem like it would work just like lodash:

[code]

The thing is however that `just`

[2019-08-06 17:57] angus-c commented on #146
Thanks very much for this issue and PR. I think I'd like to fix the array mutation before updating TRADEOFFS—will try to get to this tomorrow.

[2019-08-07 22:38] amaldare93 opened #148 "safe-get returning null if any parent property is null"
found some buggy behavior where if any value in a get path is falsey (null or 0), it will return that falsy value, instead (see below examples, first one is "correct", second two are "incorrect"

[code]

[2019-08-09 04:49] angus-c commented on #148
Thanks for reporting! Should be fixed by `just-safe-get@1.3.2`

[2019-08-09 04:50] angus-c commented on #146
Ok I think the array mutation issue is now fixed (`just-safe-get@1.3.2`)
Up to you whether you want to update your PR accordingly, or I can do it when I get a chance.

Thanks again for this.

[2019-08-09 19:57] #148 closed

[2019-08-22 15:01] wrporter commented on #146
Funny that I was just trying to use the defaultValue yesterday of safe-get. I was so confused that it was not working for me. And then I looked at the history and realized this is being added right when I needed it. Thanks for getting this in!

[2019-08-22 17:09] angus-c commented on #146
Fixed by #151

[2019-08-22 17:09] #146 closed

[2019-08-23 18:53] jedmao commented on #126
FWIW, I created [a separate project, Queso](http://queso.surge.sh/) that is in a similar spirit as Just, but 1st-class TS support.

[2019-12-12 17:12] davidhq opened #161 "just-diff bug"
Hi, thank you for great collection of utilities...

I found some issue in `just-diff` though ...

https://gist.github.com/davidhq/b8ecfa2a97e56789fcd6f70cb6776529

I tested a lot of other json diff generating libraries but would still like to use your method because, surprisingly, it performs the best of them all...

Can you confirm this bug and possibly solve? If you don't have time currently, ma

[2019-12-14 00:08] angus-c commented on #161
Hi! Good catch, this is probably because I'm doing an alpha sort instead of numeric for removed array keys. Weill try to get to it it this weekend

[2019-12-15 01:20] davidhq commented on #161
Yes, that must be it... hopefully it can be easily solved :)
I agree, this was a great catch, because of it the playlists in [here](https://dmt-system.com) (a plug,in case you are interested)... became really weird.

I have another question if I may:
https://github.com/angus-c/just/blob/master/packages/collection-clone/index.js

How come this is approx 5x faster than usual alternatives like JSONst

[2019-12-15 03:35] angus-c commented on #161
This should be fixed by `just-diff@3.0.2`. Let me know if it works for you!

I will dig into that clone blog when I get a chance, and try to answer your question!

[2019-12-15 03:35] #161 closed

[2019-12-15 21:17] angus-c commented on #161
(Nice site btw!)

What did you use to compare performance of clone techniques?

[2019-12-16 11:57] davidhq commented on #161
I measured in multiple ways and on multiple systems.

macOS -- real use case: cloning the state of an app:

1) function clone(obj) {
  return JSON.parse(JSON.stringify(obj));
}

[code]

2) const clone = require('./utilities/just/collection-clone')

[code]

[code]

stopwatch.js

[code]

RaspberryPi 3B+

JSON.stringify/parse
[code]

just-clone

[code]

With this simple script:
https://gist.github.co

[2019-12-16 17:01] angus-c commented on #161
Hmm interesting. I wonder if `just-clone` doesn't cover the same feature set as other techniques. (I know for one thing it won't detect circular references). However it does clone non-serializable values (unlike JSON/parse/stringify)

In any case those are impressive numbers if you want basic cloning functionality.

[2019-12-16 20:06] davidhq commented on #161
Your code for cloning is so simple... It's strange that I had to stumble into this by coincidence and it does seem to be the best way to clone an object for most purposes... and it makes a big difference for this particular project... We may learn what's the catch some day :) or it remains a mystery and it's ok as long as it works (fast).

[2019-12-18 12:23] davidhq commented on #161
Hey Angus!! This thread came handy! I hope you don't mind "using it a bit"... but some idiots really need verbatim explaining, even over-doing it sometimes! :) I mean the line I mean the line "people from Twitter and Uber"... https://www.reddit.com/r/psytrance/comments/ec9oz8/dmtplayer/

TO THE POSITIVITY and SHAVING OFF MILLISECONDS :)

[2019-12-18 16:48] angus-c commented on #161
Ha no problem!

[2020-03-10 10:03] antony opened #169 "Improvement: Capitalize should not throw on empty/null strings"
Hi - I'm the original author of `just-capitalize`. I make quite a lot of use of it, and I've realised that it might (depending on your thoughts) have an issue with null strings.

If you try `capitalize(someNullString)` it actually throws an error about `cannot call .charAt()` of null.

If you think this is something the library should be handling in a more glamorous way - i.e. simply ignoring the

[2020-03-12 00:40] angus-c commented on #169
Hi @antony, I think capitalize of `''` should probably just return `''`

For other types, what I generally do is check the type of the argument and throw with an explanation if it's the wrong type, e.g.

[code]

[2020-03-16 16:30] chocolateboy opened #172 "just-shuffle returns a subset of permutations"
### System

- **just-shuffle**: 2.1.0
- **Node.js**: v13.8.0
- **OS**: Linux (Arch)

### Test

[code]

### Output

#### lodash.shuffle

[code]

#### just-shuffle

[code]

[2020-03-16 16:40] chocolateboy commented on #172
Results for `[1, 2, 3]`:

### lodash.shuffle

[code]

### just-shuffle

[code]

[2020-03-16 16:51] angus-c commented on #172
This was by design—the util only returns arrays where none of the elements are in their original position. Leaving open while I decide whether to make it compatible with lodash

[2020-04-24 01:40] nolde opened #179 "Single `just` package"
Would you be willing to make a single package, `just`, that contains all functions?

It would be nice to have only one dependency in my `package.json`, and then be able to required as needed, like `import omit from 'just/omit'`. I already use bundlers that avoid code that is not necessary, so having the extra files would not matter that much.

Is that something you would be willing to do, or does

[2020-04-24 01:59] angus-c commented on #179
Not a bad idea. Only question I can see is whether to abstract common code (as Lodash modular does). I'd lean towards not abstracting for the sake of not maintaining additional code, and also because this will actually keep bundle size down when importing sub-modules (Lodash modular imports are inevitably larger because they depend on shared code, not all of which is essential for each import)

[2020-04-24 02:02] angus-c commented on #172
I think the best way to go is for the function to take a `fullShuffleOnly` argument (probably not the best name), which defaults to `false`. This will require a breaking version obviously

[2020-04-24 02:09] nolde commented on #179
Ideally, abstracting common code would be good, but I agree that it is a lot of extra work. And `just` is already quite small as it is, so this is more of a "let's keep `package.json` small" thing than "let's get `just` even smaller".

Just a common bundle is good enough, IMHO.

[2020-05-03 14:46] chocolateboy commented on #172
Is there a use case for this behavior? Do you use use it somewhere? AFAICT, no other shuffles behave in this way, and I'd be very surprised if anyone who uses this library expects this behavior by default, e.g.:

- [JohnForster/pandemic-ts](https://github.com/JohnForster/pandemic-ts/blob/54c7a307ee5c4c328d0f0b3fd314fad74f62a731/src/app/helpers/createInitialGameState.ts#L3)
- [puckey/dance-tonite](

[2020-05-03 17:54] angus-c commented on #172
Yeah you make a good point.
Going to cut a major version with random shuffle as default, and `allElementsMustMove` as an option.

[2020-05-03 20:49] angus-c commented on #172
created just-shuffle@3.0.1
[code]

[2020-05-03 20:49] #172 closed

[2020-06-04 12:42] vidhill opened #188 "Typo in example for just-flush"
Example for just-flush has an incorrect example result
[code]

[code]

[2020-06-04 12:42] vidhill commented on #188
I am just about to open a PR to fix this..

[2020-06-06 20:17] #188 closed

[2020-07-09 16:19] foodforarabbit opened #190 "[just-extend]: work with Object.create(null)"
Recently I tried using this on `ctx` in fusion/koa and ran into these two issues:

1)  `Object.create(null)` in events library: https://github.com/Gozala/events/blob/master/events.js#L92

This will throw the following error when using Object.prototype functions on it:
[code]
2) Circular references

[2020-07-26 07:53] fregante opened #192 "Use ES Modules with type:module"
It'd be great to have `just` be a Node-compatible ES Module with `type: "module"` in the package.json

I don't remember if there's a backwards-compatible way to have both CJS and `type:module` in the same import, but this is definitely possible:

[code]

This would enable both:

[code]

[code]

[2020-08-17 13:49] alexanderkjeldaas opened #194 "The statistics functions should have an incremental version."
Most of the statistics functions would be more usable if they could calculate running versions of mean, stddev, variance etc.

[2020-08-18 19:17] angus-c commented on #194
can you give an API example?

[2020-08-26 19:20] angus-c commented on #192
yes I should look into this, thanks

[2020-09-04 00:58] angus-c commented on #194
final call for an example, before I close the issue...

[2020-09-04 01:00] angus-c commented on #190
As per #191, trimming this issue to just include safe hasOwnProperty

[2020-09-04 01:01] angus-c commented on #169
Assigning to myself to do the above

[2020-09-11 20:18] angus-c commented on #169
Fixed in just-capitalize@1.0.1 (#196 )

[2020-09-11 20:18] #169 closed

[2020-09-11 20:19] angus-c commented on #194
Closing because I couldn't get example of suggestion.
Feel free to re-open with example.

[2020-09-11 20:19] #194 closed

[2020-09-13 00:34] angus-c commented on #190
Fixed by #198

[2020-09-13 00:34] #190 closed

[2020-11-04 11:07] a-tonchev opened #204 "safe-set should have the possibility to set values if object/attributes does not exist"
To be equal of the lodash functionality the example

// don't clobber existing
const obj4 = {a: {aa: {aaa: 2}}};
set(obj4, 'a.aa', {bbb: 7}); // false

Should actually add attribute bbb to the aa key

https://lodash.com/docs/4.17.15#set

Best regards

[2020-11-04 11:44] a-tonchev opened #205 "safe-get, is it possible to mutate the object?"
I am not the expert, but is it theoretically not possible to mutate the main object trough direct assignment?

[code]

[2020-11-26 18:55] Hypnosphi opened #207 "Throttle: support both leading and trailing call at the same time"
Right now there's `callFirst` which only allows to switch between those two modes

[2020-11-27 21:31] angus-c commented on #205
Hi. No it's ok because when you re-assign an object argument, the original is not modified.

[code]

It only mutates if you mutate the argument (not reassign)

[code]

[2020-11-27 21:31] #205 closed

[2020-11-27 21:53] angus-c commented on #204
I believe this works as stated in 2.1.0

Paste this code [here](https://anguscroll.com/just/just-safe-set) to verify

[code]

[2020-11-27 21:53] #204 closed

[2020-12-17 19:52] boogerlad commented on #192
any update on this?

[2020-12-18 01:34] angus-c commented on #192
Sorry I haven't had the time to get to this. In theory it should be fairly simple (if repetitive) but I wanted to take the time to verify a POC before making updates. Will try to look at this over the holidays.

[2021-02-10 21:46] smlmrkhlms opened #216 "Deep Merging"
I am currently looking for an alternative to `lodash` and I stumbled across your awesome project. One of our primary use cases for `lodash` is their `lodash.merge` utility, which merges objects deeply. I was wondering if there a way to do that with one of this library's utilities. If not, would you see value in adding this capability to the `just-merge` utility? Thank you!

[2021-02-12 06:09] angus-c commented on #216
Hi Mark, [just-clone](https://anguscroll.com/just/just-clone) is what you want!

[2021-02-12 14:04] smlmrkhlms commented on #216
Thanks @angus-c!

[2021-02-12 14:04] #216 closed

[2021-03-05 22:03] sean256 opened #217 "Fails to compare Sets"
[code]

[2021-03-06 22:12] angus-c commented on #217
good call, will take a look when I get a chance

[2021-03-12 01:10] ilearnio commented on #126
I agree that there's no need to rewrite just in TypeScript. But adding TypeScript definition files into every just package makes a lot of sense. Since right now I'm unable to use just in my TS project as it lacks these definitions, and TS strict mode doesn't allow me to use packages without definitions

[2021-03-15 01:38] angus-c commented on #126
@ilearnio yeah I'm leaning towards that solution. Happy to accept PRs if you want to start the ball rolling btw :)

BTW there are also some TS definitions for Just modules in [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyTyped).

[2021-03-27 20:08] angus-c commented on #217
Fixed in just-compare@1.4.0

[2021-03-27 20:08] #217 closed

[2021-04-03 01:31] angus-c commented on #207
Fixed in just-throttle@2.0
There are now `leading` and `trailing` options:

[code]

If `leading` and `trailing` are both true the only `leading` is considered as true.
Initially I allowed both `leading` and `trailing` to be true but it feels unintuitive to make two invocations for a single call. The final decision is also consistent with Lodash's implementation (despite what their docs say)

[2021-04-03 01:31] #207 closed

[2021-04-04 01:19] angus-c commented on #126
@ilearnio can I validate my .js file against a TypeScript definition file? It seems like I should be able to use `tsc my.js --checkJS`, but apparently this only works if the file includes jsdocs, which seems surprising given that a TS definition file can be generated from jsdocs.

[2021-04-04 08:43] ilearnio commented on #126
@angus-c There seems to be no built in way in TypeScript itself to test typings for pure JS projects, see https://github.com/microsoft/TypeScript/issues/7661.
However there is this testing tool that perhaps may help https://github.com/ai/check-dts.

Alternatively, I would go with simply adding some `types.test.ts` files that would look like so:

[code]

So whenever such files compiled with `tsc` t

[2021-04-04 23:02] angus-c commented on #126
First 14 definitions added

[2021-04-29 08:37] hagaiwech opened #234 "Contact"
Hi team,

I've tried to contact you in mail, but there was no response, can you please contact me ?

hagai.wechsler@whitesourcesoftware.com

Thanks,
Hagai

[2021-04-30 18:39] angus-c commented on #234
Hi Hagai,

Due to volume, an out of an abundance of caution I don't generally reply to emails from unknown recipients. Feel free to leave an issue here.

[2021-04-30 18:39] #234 closed

[2021-05-04 05:09] angus-c commented on #179
Hi @nolde. Does [this repo](https://github.com/jay-es/just-all) fulfill the requirement?

[2021-05-04 10:33] nolde commented on #179
Yeah, it is almost there, but not quite! It has all function requires within a single file, so if you don't have tree shaking, you're adding all functions, even if you don't use them.

Thanks for warning me, though!
I might end up doing one myself, sometime.

I'll close this issue.

[2021-05-04 10:33] #179 closed

[2021-05-04 14:05] hagaiwech commented on #234
Hi,

I'm approaching you regarding a security issue.
We don't usually post security issues publicly on Github, but if you want we can post here our security report with our findings.

What do you prefer?

Thanks,
Hagai

[2021-05-04 15:27] angus-c commented on #179
Thanks! (Yeah was assuming tree shaking)

[2021-05-04 15:32] angus-c commented on #234
Hi, I'm fine with you posting it as an issue

[2021-05-05 10:12] hagaiwech opened #253 "WhiteSource Software | Security Vulnerability Found in just-safe-set"
Hi Team,

My name is Hagai Wechsler, I'm a security researcher at WhiteSource.
WhiteSource offers a solution for managing open source software security and features a vast database of reported security vulnerabilities that is consulted daily by clients worldwide.

We are approaching you as referenced maintainers of the project: just-safe-set
Our research team believes to have discovered a security

[2021-05-06 15:00] huntr-helper opened #257 "🚨 Potential Improperly Controlled Modification of Object Prototype Attributes ('Prototype Pollution') (CWE-1321)"
👋 Hello, @angus-c - a potential high severity Improperly Controlled Modification of Object Prototype Attributes ('Prototype Pollution') (CWE-1321) vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/3-other-angus-c/just** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for

[2021-05-08 06:09] angus-c commented on #257
Please re-open stating the issue here directly

[2021-05-08 06:09] #257 closed

[2021-05-08 10:09] John60676 opened #260 "`just-safe-get` missing `defaultValue` types"

[2021-05-08 19:44] #253 closed

[2021-05-08 19:57] angus-c commented on #260
fixed by #261

[2021-05-08 19:57] #260 closed

[2021-05-17 17:15] jimmywarting commented on #126
I advocate jsDoc instead of TypeScript.

- You can get same level typing support (even without jsdoc - depending on how you write your code - default arguments / class properties helps)
- Don't have to transpile anything
- run much faster
- Fewer dependencies
- Less configuration
- Can be imported from browser
- Don't need any build process
- No need for SourceMap
- TypeScript is not standard
  -

[2021-05-28 19:47] angus-c commented on #126
@jimmywarting I share many of your concerns about using Typescript syntax directly, but note they don't really apply here. There is no TypeScript in Just source code, just type definition files for consuming app to validate against.

[2021-06-19 16:16] danawoodman opened #278 "404 produced in documentation site"
I'm noticing 404s when the initial render of the doc site occurs, for example, this page returns 404 initially: https://anguscroll.com/just/just-is-empty

I assume this may have something to do with Github Pages and the specific static site generator being used?

This is happening in Brave/Chrome/Safari.

![Image 2021-06-19 at 9 12 47 AM](https://user-images.githubusercontent.com/157695/122648524-

[2021-06-19 18:59] angus-c commented on #278
Hi @danawoodman, thanks for reporting.

The 404 is by design. It's a bit of a hack but [404.html ](https://github.com/angus-c/just/blob/gh-pages/404.html)should replicate the home page, then the javascript [reads the current page from the URL and the sets state to that function](https://github.com/angus-c/just/blob/gh-pages/javascripts/components/App.js#L24)

Not sure why it shows a 404 for you. W

[2021-06-24 01:45] angus-c commented on #278
I just realized, it looks like you are seeing the intended content (I was confused buy the "sorry that page is missing" banner, which I don't see in my browser)

I should probably replace the 404 -> update state hack with something more robust.

[2021-07-08 15:59] shellscape opened #280 "Better Documentation"
Hey there. I ran across your `just-throttle` package today. I like what you've done with all of these zero dep packages, but the documentation is pretty poor for a consumer not already familiar with the code. When writing documentation, it's important to note that the consumer of those docs will likely never source dive your package, so it needs to be spelled out clearly what options do what, and

[2021-07-08 18:21] antony commented on #192
one option which can save time with this is to add a small 3-4 line rollup file which compiles an es6 version of the library into `dist` which can just be done at packaging time.

There's an example of this here: https://github.com/mcollina/fastq/pull/48

[2021-07-18 23:22] angus-c commented on #280
Yeah good point. Will address this

[2021-07-18 23:30] angus-c commented on #280
Done

[2021-07-18 23:30] #280 closed

[2021-07-21 12:59] raulfdm commented on #192
@angus-c want some help on this task?

[2021-08-08 20:22] angus-c commented on #192
sure!

[2021-08-19 20:10] pete-hotchkiss opened #291 "collection-diff question"
This is a question more than an issue, but I've been digging around the library in recent days; and I've a question around a specific part of the `diff` method.

at line 119 you have an `if` block...

[code]

I'm trying to get a handle on what sort of change in two objects might trigger the code to step into this statement.

Can you give an example at all ?

[2021-08-25 03:35] Uki884 opened #293 "array support"
I have a request for `just-safe-get`. I would like to see support for arrays.

example.

[code]

[2021-08-26 21:42] Gozala opened #294 "just-safe-set should not mutate passed path array"
Here is the example illustrating an issue

[code]

I would expect `bar` to come out as `{ a: { b: 'bar' } }` instead of `{}`.

[2021-08-30 17:00] zidingz opened #295 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-08-30 19:15] #294 closed

[2021-08-30 19:20] angus-c commented on #294
Apologies for this. Fixed in just-safe-set@2.2.3

[2021-08-30 19:34] angus-c commented on #291
It's part of the strategy to determine whether the current property in each object is iterable (i.e. do both have child properties). If both are iterable we do a recursive call, if not we push a diff to our array of diffs.

The previous code block checked if either property was  a primitive
[code]

This code block completes the check by looking for non-primitive properties without children. These

[2021-08-30 19:34] #291 closed

[2021-08-30 19:36] angus-c commented on #126
Closing as we now have a [documented strategy](https://github.com/angus-c/just#typescript-) for this.

[2021-08-30 19:36] #126 closed

[2021-08-30 19:38] angus-c commented on #67
Closing as we now have a documented Typescript strategy and Flow usage is not high enough to warrant extra work here. As @AlexMSmithCA suggests, flow definitions can be added [here](https://github.com/flow-typed/flow-typed).

[2021-08-30 19:38] #67 closed

[2021-08-30 19:46] pete-hotchkiss commented on #291
this definitely helps - and makes sense now. Thanks for taking the time to respond

[2021-08-30 20:22] angus-c commented on #278
Closing as a) intended content still shows b) update is non trivial (requires a router library and even then not sure how they will redirect 404s) and I'm just not going to have the time to improve it.

[2021-08-30 20:22] #278 closed

[2021-09-02 10:48] PCOffline commented on #192
Hey, any updates with this?

[2021-09-20 19:59] tajo opened #298 "string-kebab-case consecutive capital letters should not be split"
[code]

[_.kebabCase](https://lodash.com/docs/4.17.15#kebabCase) gets this right. Is this a conscious decision?

[2021-09-22 05:16] angus-c commented on #298
It was just a guess at the best way to approach it. I'll change it to be like lodash.

[2021-10-05 19:15] muuki88 opened #299 "extend not extending arrays"
Hi,

Thanks for this library of small utility functions :heart:

I'm trying to use [just-extend](https://github.com/angus-c/just/blob/master/packages/object-extend/index.js), but this method does not extend/merge arrays. Is this intended or a bug?

cheers,
Muki

[2021-10-09 10:39] raulfdm commented on #192
@angus-c I was about start but I think, before any work, we should discuss how we want to do that.

I believe there are some strategies to make it work.

## Copy strategy

If we don't want to change anything, we could simply:

1. make a `index.js` copy and name `index.esm.js`
2. replace the `module.exports` with `export default`
2. Add the property `type: module` to inform that ESM should take pre

[2021-10-19 13:24] tmalaher opened #301 "safe-set clobbers existing sibling values"
This code:

[code]

Returns `true` from the set() call, and the resulting `obj4` is `{a: {aa: {bbb: 7}}}` not `{a: {aa: {aaa: 2, bbb: 7}}}` as expected.

_Originally posted by @angus-c in https://github.com/angus-c/just/issues/204#issuecomment-734997550_

[2021-10-20 12:08] sdoerger opened #303 "How to properly use compose"
Hi there, I do not fully get, what compose does. I thought it might be the lodash _.chain equivalent.

Is there a way, to make this works?

[code]

[2021-10-20 23:43] angus-c commented on #303
You forgot the return keyword in test:)

[2021-10-20 23:43] #303 closed

[2021-10-20 23:58] angus-c commented on #301
As that original issue says, It should add, not clobber.
This is the way lodash does it too

lodash
[code]

just
[code]

[2021-10-20 23:58] #301 closed

[2021-10-21 00:05] angus-c commented on #299
Thanks for the kind words Muki!

`just-extend` is designed only for non-array objects.
Does `just-union` do what you want? ([example](https://anguscroll.com/just/just-union))

[2021-10-21 06:32] muuki88 commented on #299
Thanks for your feedback :hugs:

It would if it was a a toplevel array. In my case objects have nested arrays.

[code]

In the spirit of this library there would probably need to be a third function `just-extend-or-merge` :grin:

[2021-10-21 17:25] angus-c commented on #299
Haha, but yeah there does seem to be room for a new utility to do this

[2021-10-21 17:25] #299 closed

[2021-10-21 20:51] MarcusCemes commented on #179
I heard about this on the Syntax podcast, I love the simplicity and power this seems to bring, I've never really used Lodash or Underscore, this seems like a nice and lightweight toolkit.

I don't think I can wrap my head around the fact that each function has to be imported as a different npm package. If it's to "only add what you need", I understand, but tree-shaking solves this for the browser,

[2021-10-21 21:39] brandonryan opened #306 "Typescript: Functions declared as named export"
I noticed this issue with just-once, but I think all typescript definitions have this problem.

All modules are exported via `module.exports = fn`. This is the default export equivalent in typescript.
The definition files are exported like `export declare function ...` which treats the function as a named export, resulting in a type mismatch.

Changing all `export declare function ...` to `export

[2021-10-22 05:10] #306 closed, assigned to nobody

[2021-10-22 16:06] brandonryan opened #309 "Support any datatype in array-mode"
I feel like mode could be useful for more than just numbers.
If a map were used instead of an object, you could support keys of any datatype.

[2021-10-22 17:08] brandonryan opened #310 "just-standard-deviation two packages"
Standard Deviation has two packages published: `just-standard-deviation` and `just-stdev`. One of these should probably be deprecated. The doc links are also broken for this due to the inconsistency.

[2021-10-23 06:04] #309 closed, assigned to nobody

[2021-10-23 06:07] brandonryan opened #311 "Simple array param datatypes"
This is less of an issue, and more of an opinion / point of discussion.
I find the typings for array methods to be a bit cumbersome. I will use median as an example:
[code]
At first glance, this function signature looks super confusing in my opinion. Not only that, but when you try to pass an array, typescript doesn't know that you have guaranteed  the length is greater than zero.
[code]
Proposed

[2021-10-23 06:10] #310 closed, assigned to nobody

[2021-10-23 07:46] PuruVJ opened #313 "List of modules without TS definitions"
We're in the process of adding TypeScript definitions and tests to every Just utility. You're welcome to help us get there! [Here's](https://github.com/angus-c/just/pull/247/files) an example PR.

You can verify new TypeScript definitions by running `yarn test-types` (This also gets run as part of the `yarn test` script)

Here's a list of all the packages without TS definitions yet. Any contributo

[2021-10-23 11:06] RinatValiullov opened #314 "Block-level declarations support (ES6)"
I noticed that all functions use `var` declarations. For example:

https://github.com/angus-c/just/blob/510e37223679aed2c98786c8aee7d8b23dec1f52/packages/array-shuffle/index.js#L15-L24

Perhaps it's time to replace `var` with block-level declarations such as `let` and `const`, since their support in 2021 is already at a good level. `let` declarations are not hoisted to the top of the enclosing blo

[2021-10-23 16:48] #314 closed, assigned to nobody

[2021-10-24 06:03] PuruVJ opened #316 "Converting packages to named exports"
Hi!

One thing I've noticed in this library is that some modules have default exports, some have named exports. This introduces some inconsistency, which I believe, we can get rid of.

Here's examples of some
![image](https://user-images.githubusercontent.com/47742487/138582808-e3cabbff-5167-4c24-8803-1cad615e5494.png)

Here are 2 proposals from me:

1. Force all packages to be named export by def

[2021-10-30 20:05] #311 closed

[2021-10-30 21:16] angus-c commented on #316
Both `diff` and `diff-apply` are named exports by design since those modules export multiple functions. All other modules use default exports and I would like to keep it that way for the reason Brandon mentioned.

@PuruVJ I'm not sure where you are seeing `object-values` and `object-omit` having non default exports. Though, I might be missing something 🙂)

[2021-10-30 21:16] #316 closed

[2021-10-30 21:23] angus-c commented on #313
Updated with to reflect new type additions. 22 left now.

[2021-10-30 21:28] PuruVJ commented on #316
Typescript definitions say these have nqmed exports.. Though it's fixed in latest releases when I pulled

[2021-10-31 04:11] PuruVJ commented on #313
Got a question about Cartesian Product: Does it really have d.ts now? I updated my deps and VSCode still can't find it's typings

![image](https://user-images.githubusercontent.com/47742487/139567259-90666aef-7622-4f00-9ac1-ce930b6cc52f.png)

[2021-10-31 07:13] #192 closed

[2021-10-31 07:50] angus-c commented on #313
Should be published now

[2021-10-31 13:59] jfsiii opened #329 "Conflict between compose comments and README"
I was curious if compose worked right-to-left or vice-versa. The code comments and README disagree

https://github.com/angus-c/just/blob/055f8730d82a74a98d0f45ee619f6f97f87d3d8f/packages/function-compose/index.js#L4-L6

https://github.com/angus-c/just/blob/055f8730d82a74a98d0f45ee619f6f97f87d3d8f/packages/function-compose/README.md#L11-L13

Which is correct? Are there tests for this function? Any

[2021-10-31 16:43] hmmhmmhm opened #331 "Wrong example of just-safe-get"
<img width="417" alt="스크린샷 2021-11-01 오전 1 40 39" src="https://user-images.githubusercontent.com/38493722/139593630-1520b13c-9830-4e07-ad78-2a5da6aa889d.png">

I think people won't be confused only when they deliver examples of successful operation.
It would be nice if the example was revised as below.
[code]

[2021-10-31 17:04] rqbazan opened #332 "NextJS incompatibility"
Hey @angus-c 👋

Seems like [the latest version of all the packages](https://github.com/angus-c/just/pull/315) has introduced an incompatibility with NextJS apps.

### Reproduce

1. Clone https://github.com/rqbazan/just-and-nextjs-esm-issue
2. Install all dependencies with `yarn`
3. Run the build process: `yarn build` ❌
4. Profit!

[code]

### Possible solution

- Change `"commonjs"` to `"module"`

[2021-10-31 18:02] nosovk commented on #332
yep, svelte-kit builds also broke on latest update (and they are "module"  from start)

broken build one:
https://github.com/NodeArt/nodeartio/pull/454

accidentally merged broken version
https://github.com/MailCheck-co/mailcheck.site/pull/601
and reverting it restored build
https://github.com/MailCheck-co/mailcheck.site/commit/c8af869dccb6dd97a17fe9d777254d618bf3a573

it seems that ESM build isn'

[2021-10-31 18:18] nosovk commented on #332
https://github.com/angus-c/just/pull/328
that one also should be merged (I was wrong, real problem fixed in that PR) by @PuruVJ

[2021-10-31 20:06] angus-c commented on #332
#328 merged.
Considering other issue now (cc @raulfdm)

[2021-11-01 01:12] angus-c commented on #332
Should be fixed now https://github.com/angus-c/just/pull/334

[2021-11-01 01:12] #332 closed

[2021-11-01 02:16] brandonryan commented on #329
Just want to use this issue for a discussion. I think it might be a good idea to generate docs based on the `@example` jsdoc (as well as the description from there). Probably just strip out all the usage comments in the files. I'm pretty sure there are some libraries around that will do that pretty easily and you just just stitch them all together into the readme.

[2021-11-01 02:53] brandonryan opened #337 "object-values shouldnt take array"
object-values takes an array and returns a copy of the array. This seems like a bit of functionality overload that could be removed. It would simplify the type declarations.

[2021-11-01 03:02] brandonryan commented on #337
Nevermind... closing this because I realized its trying to replicate Object.values()

[2021-11-01 03:02] #337 closed

[2021-11-01 03:48] raulfdm commented on #332
Sorry my absence, I had to stay offline yesterday the whole day...

Curious to understand why nextjs was picking up ESM if the main type was specified to to commonjs.

Anyhow, I'm glad it's fixed. I should've tested in all biggest frameworks (nuxt, next, vite, angular, node, etc) to ensure it's all working perfectly everything. My bad

[2021-11-02 15:25] brandonryan opened #346 "Function once needs a release."
My project is held up by not having correct typings for just-once.

[2021-11-02 16:36] angus-c commented on #346
1.4.2 just published

[2021-11-02 16:36] #346 closed

[2021-11-03 02:53] angus-c commented on #329
Hi @jfsiii, it's left to right. I will fix the comments.
The easiest way to test is via the REPL: https://anguscroll.com/just/just-compose
The tests are here: https://github.com/angus-c/just/blob/master/test/function-compose/index.js

[2021-11-03 02:54] angus-c commented on #329
@brandonryan yeah when I get to it :)

[2021-11-03 02:54] #329 closed

[2021-11-03 03:03] angus-c commented on #331
I see your point but on balance I think the most useful feature of the utility is it doesn't thrown an exception if a part of the property chain is missing. So I think I'll stick with what I have.
Also folks can click the API link to see more examples
https://github.com/angus-c/just#just-safe-get

[2021-11-03 03:03] #331 closed

[2021-11-04 13:36] JakeChampion opened #348 "bug: Just packages do not work with NodeJS' native ESM implementation"
The extension that is used in Just packages for their esm files is `.esm.js`, this unfortunately does not work for NodeJS' native esm implementation, the extension needs to be `.mjs` for NodeJS to run the file in ESM mode.

Right now when using NodeJS' native esm implementation, an error will be thrown when using `import` on any Just packages:
[code]

_Originally posted by @JakeChampion in https:/

[2021-11-04 18:32] angus-c commented on #348
Yep, I'm planning to rewrite all packages to have just one mjs module (and no cjs). Hope to get to it soon.

[2021-11-06 07:22] PuruVJ commented on #348
@angus-c would you mind if I make PR for this, if you haven't begun work on it yet? I got a lot of free time at the moment 😅😅

[2021-11-06 07:43] PuruVJ commented on #348
See #349

[2021-11-06 08:30] PuruVJ commented on #348
Also @JakeChampion in the meanwhile, you can use [all-of-just](https://www.npmjs.com/package/all-of-just). All the Just libraries are bundled in it(still tree-shakeable) , so no issues regarding Node incompatibility.

Course, I'm plugging my own package here 😅, so when the ESM rewrite of Just is complete, you can move back to it

[2021-11-07 06:01] angus-c commented on #295
SECURITY.md created. Feel free to report security issues by creating an issue.

[2021-11-07 06:01] #295 closed

[2021-11-07 06:02] angus-c commented on #348
See WIP PR #345

[2021-11-07 11:16] maxsynnott commented on #313
just-truncate PR #353

[2021-11-07 21:53] angus-c commented on #313
Thanks Max. All landed except #356 (see comment)

[2021-11-08 07:21] PuruVJ opened #360 "what does functions-partial do?"
Hi, the docs about functions-partial are not clear. What does this function do?

[2021-11-08 14:14] maxsynnott opened #361 "Many packages are lacking descriptions"
Many packages are lacking descriptions and instead just have examples. This forces the user to interpret the functions purpose themselves which can lead to misunderstandings.

I suggest each package should have a minimum of a one sentence description in its README.md
Could also extend this to use jsdoc to include descriptions in the editor

I could contribute some descriptions

Thoughts? @angus-c

[2021-11-08 14:18] PuruVJ commented on #361
yeah, I had this issue too. #360

[2021-11-09 01:08] maxsynnott commented on #313
Answered #356

[2021-11-09 02:23] angus-c commented on #361
Yeah a one sentence description in the README would be helpful. There is a one sentence description in the package.json (though some leave a bit to be desired).

I'd prefer just a manual README update for now. (It's a pain because there is the local and global README for ever package. But I'm trying to keep build steps to a minimum).

[2021-11-09 02:32] angus-c commented on #360
Yeah a one sentence description in the README would be useful, though in a way this one is best explained by example. Also the README was wrong 😱 (fixed now)

The `partial` function wraps an existing function (first argument) and the remaining arguments are pre-passed as arguments to the returned function. If any argument in `partial` is undefined it is expected to be supplied at runtime.

So in t

[2021-11-09 02:33] #360 closed

[2021-11-09 03:39] PuruVJ commented on #360
ok, and what's the _ here? 🤔

[2021-11-09 04:37] angus-c commented on #360
Whoops should have been `undefined`. Edited my comment

[2021-11-09 04:44] angus-c commented on #348
Should be fixed by #359

[2021-11-09 04:44] #348 closed

[2021-11-09 06:41] maxsynnott commented on #361
There's currently three places the descriptions exist per package. Global README, local README and package.json.

Can I please ask why you want to keep build steps to a minimum? To avoid complexity?

[2021-11-09 06:55] angus-c commented on #361
Of course I'm not in favor of drudge work for drudge work's sake, so (e.g.) a script to generate the global README content from local READMEs would make sense. But in general I'm ok with Just's low tech-ness (and that's also kind of its point) and am wary of adding build steps with limited maintenance value.

BTW there's no overlap between package.json description and the README content

[2021-11-09 07:34] PuruVJ commented on #313
Now the hardest functions left to add the TS typings for 🥲

[2021-11-09 08:18] maxsynnott commented on #361
I'm going to work on generating the global README content from the local READMEs as many of them are currently misaligned which I think should be fixed.

I'll keep it as basic as possible to avoid potential maintenance

[2021-11-09 10:25] DannyvanHolten opened #366 "No changelog present?"
Hey hey, I'm getting a message from Dependabot this needs to be updated to a new major version, 3.1.1 > 4.0.0. Which means probably something is breaking according to semver. But I cannot find any changelog whatsoever. So I have no clue what changed.

Can somebody help me out?

[2021-11-09 10:36] JakeChampion commented on #348
Great work, thanks @angus-c ☺️

[2021-11-09 15:47] angus-c commented on #361
That's great. Thanks @maxsynnott

[2021-11-09 16:44] angus-c commented on #366
Hey @DannyvanHolten.
Yeah I should probably add change logs. The change is the exported esm module now uses .mjs suffix. If you are using the original common js module then the change is non-breaking

[2021-11-09 17:07] angus-c commented on #332
Hi @nosovk can you check with latest major build? It now uses .mjs suffix for esm module  which should be more universally recognized

[2021-11-09 22:37] angus-c commented on #361
@maxsynnott We should standardize on formats.
Suggestion (let me know what you think):

local README (some of these had `npm install <name>` directives but I think we should drop these from local)
[code]

global README (since this is probably the first place folks will look for docs I think we should keep `npm install <name>` directive and add one for yarn too)
[code]

[2021-11-09 23:06] maxsynnott commented on #361
I agree this would be a good idea. I made a couple adjustments to the above to keep them more aligned and also added a source code link.

Let me know what you think.

LOCAL:

[code]

[code]

<description>

[code]
[code]
### [just-cartesian-product](https://www.npmjs.com/package/just-<name>)
[source](https://github.com/angus-c/just/packages/<packageDir>/index.js)

[`🍦 Try it`](https://anguscroll.co

[2021-11-09 23:18] angus-c commented on #361
Yeah this looks good. Maybe remove the space between the two shell snippets? (just want to keep it compact—although maybe line breaks are automatically added after `shell` anyway, idk)

[2021-11-10 04:30] PuruVJ commented on #332
@angus-c I checked just-shuffle, and it is working in sveltekit, so assumption is that all of em are working. Even I had the same problem with submodules, and renaming ESM outputs to .mjs helped, so all of just packages should also work

[2021-11-10 05:58] angus-c commented on #332
Cool, thanks for confirming @PuruVJ. @nosovk said it also now works for him.

[2021-11-10 10:54] DannyvanHolten commented on #366
Thanx for the answer for now :D

But yeah. Changelog would be great!

[2021-11-11 10:44] Aryaman1706 commented on #313
Added typings for `just-map-keys`.
Kindly have a look:- #368

[2021-11-12 17:29] angus-c opened #375 "Update CONTRIBUTING.md to reference new README template design"

[2021-11-13 16:21] #361 closed

[2021-11-15 18:17] #375 closed

[2021-11-16 16:49] atuttle opened #378 "why is the `test` module a production dependency?"
Why isn't it a devDependency? If there's a considered reason with a chosen trade-off, that would be reasonable... but from an outsider perspective it seems like what was intended to be a 0-dependency library now depends on `test` which depends on `ansi-font`.

[2021-11-16 19:48] angus-c commented on #378
Thanks, I moved it to a dependency. Just FYI though, zero dependencies refers to the individual packages, not to the monorepo.

[2021-11-16 19:48] #378 closed

[2021-12-09 03:00] bdata42 opened #390 "Is this lib compatible with node?"
Is this library fully compatible with node? Or client js only?

[2021-12-09 03:15] PuruVJ commented on #390
It's platform agnostic i believe, so should work just fine on node

[2021-12-10 02:27] angus-c commented on #390
Yes, see https://github.com/angus-c/just/blob/master/SECURITY.md

[2021-12-10 02:27] #390 closed

[2021-12-12 00:31] maxsynnott commented on #313
just-is-primitive #391

[2021-12-12 01:41] maxsynnott opened #392 "Some older packages are now included in the ECMAScript standards"
Some package's purposes are now solved by the standard javascript libraries and supported by all modern browsers.

Examples include:
just-entries (replaced by [Object.entries](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries))
just-values (replaced by [Object.values](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/Obje

[2021-12-12 07:45] maxsynnott commented on #313
just-map-object should be checked off

[2021-12-12 08:41] PuruVJ commented on #313
Done @maxsynnott

[2021-12-12 19:34] angus-c commented on #392
Hey Max,

Yeah this is a difficult one. Theoretically Just still supports Node 6 which does not ship any of these utilities natively. But yeah in practice the value seems low.

Perhaps the README (and the [REPL](https://anguscroll.com/just/)) could nudge people towards the native version.

[2021-12-13 00:30] angus-c commented on #366
With the help of  [changesets](https://github.com/changesets/changesets) I'm now adding a changelog for significant changes

[2021-12-13 00:30] #366 closed

[2021-12-13 16:34] themudassarhassan opened #398 "Proposal for a new array function reverseEach to iterate array in reverse order"
A new array function with name `reverseEach` can be added to achieve array traversal in reverse order, just like we have `forEach` for simple traversal.

[2021-12-15 09:40] themudassarhassan commented on #398
given an array `const arr = [1, 2, 3, 4];`
the implementation of the function might look something like
[code]
and use it like
[code]
Please let me know what you guys think, so I can create a PR for that. thanks!

[2021-12-20 02:13] angus-c commented on #398
Thanks for your proposal @themudassarhassan !
Though it might sometimes be useful, folks could also do `arr.slice().reverse().forEach` for smaller arrays and use the native `reduceRight` for larger ones.

Interested to get other opinions @maxsynnott @PuruVJ @brandonryan

[2021-12-20 02:34] maxsynnott commented on #398
Hmm the current best way of doing this is:

[code]
or
[code]

While I agree that a ```reverseEach``` function would be more convenient than the above options, I personally think the need for it is too uncommon to warrant it's own function.

How often and why do you have an array sorted in the exact reverse order that you need to iterate through it? Maybe I'm missing some good common use cases but

[2021-12-20 06:29] angus-c commented on #398
Yeah inclined to agree

[2021-12-20 18:40] angus-c commented on #398
Hey Mudassar, really appreciate the suggestion but I'm going to close this issue because I want to limit the Just suite to those utilities with definite value.

[2021-12-20 18:40] #398 closed

[2022-01-14 17:17] Aryaman1706 commented on #313
Added types for just-flip
Kindly have a look #406

[2022-01-14 20:10] Aryaman1706 commented on #313
Added types for just-flush
Kindly have a look #408

[2022-01-18 07:00] eddie-atkinson commented on #313
Added just-diff-apply #409

[2022-01-18 14:06] Mon0Man opened #410 "check if number is within a given range"
hey, feature request for something like: https://lodash.com/docs/4.17.15#inRange

[2022-01-19 00:32] seiyab commented on #313
Added just-pluck-it https://github.com/angus-c/just/pull/389

[2022-01-19 04:50] PuruVJ commented on #313
@angus-c lots of great stuff happening here 🔥

[2022-01-22 22:40] angus-c commented on #410
Sounds good. I'll get to it if no one else does first :)

[2022-01-23 09:13] PuruVJ commented on #313
Only 6 packages left! 🔥

[2022-01-23 09:19] PuruVJ opened #415 "Inconsistent just-diff-apply"
diff-apply, CJS exports it as {diffApply}, but ESM exports as export default diffApply

TS typings suggest the first one only, so I reocmmend making CJS the default one if possible

[2022-01-23 19:06] angus-c opened #416 "TODO: version/publish collection-flush"

[2022-01-24 02:31] #416 closed

[2022-01-24 02:46] angus-c commented on #415
Fixed by #418, just-diff-apply@5.1.1

[2022-01-24 02:46] #415 closed

[2022-02-11 19:30] dtikhonov-iex opened #420 "just-diff-apply: add support for JSON Patch's "move" operator"
See [RFC 6902, Section 4.4](https://datatracker.ietf.org/doc/html/rfc6902#section-4.4)

[2022-02-12 20:31] angus-c commented on #420
Good call.

[2022-02-16 13:33] ilearnio opened #421 "Just packages don't work with TS when "esModuleInterop": false (default)"
I have the following tsconfig.json:

[code]

Please note that it has `"allowSyntheticDefaultImports": true` and no `"esModuleInterop"` set, which means that it equals to false by default.

So with this setup, we usually import most of our packages with `* as something`, like so `import * as cookieParser from 'cookie-parser'`.

However with Just packages, like "just-pick", we can't import it at all

[2022-03-05 22:14] angus-c commented on #421
Hi @ilearnio, sorry for the delay in replying.
I'm not a heavy TS user so I had to do quite a bit of reading up on `allowSyntheticDefaultImports` and `esModuleInterop`.

I'm still not sure I understand all the use cases, but I am a little surprised it's failing. Can you confirm you are using the [*.mjs](https://github.com/angus-c/just/blob/master/packages/object-pick/index.mjs) file from Just? Sin

[2022-03-09 16:58] brandonryan opened #422 "npm @just organization"
Since orgs are free now with unlimited packages, you might consider grouping all packages under the `@just/` organization while its available. This would help people find your other packages and help with name conflicts. I would be willing to help with this if wanted.

[2022-03-11 22:32] justyrobles opened #423 "compare returns different results based on order of arguments"
# Description of the Issue

While I was trying to write TypeScript definitions for the object-compare package, I discovered that there is inconsistent behavior when calling `compare()` with a primitive and an object-wrapped primitive (`Number`, `String`, `Boolean`, `BigInt`) that has the same value.

The function returns `false` when the primitive is passed as the first argument, , but returns `tr

[2022-03-13 00:54] angus-c commented on #423
Thanks for the thorough write-up @justyrobles,  and for catching the bug.
I think it should return false: the values are really only equal after coercion.

Probably the easiest fix (might be overkill, but keeps the module small) is:

[code]

[2022-03-13 00:57] angus-c commented on #422
Thanks for the offer @brandonryan . How does backwards compatibility work here? Will links and imports redirect?

[2022-03-13 03:39] #420 closed

[2022-03-13 03:42] angus-c commented on #420
Done. See just-diff-apply@5.2.0

[2022-03-13 18:50] brandonryan commented on #422
Basically, you would publish to the new package and then deprecate the old one. People who install the old one will get a deprecation message.
https://docs.npmjs.com/cli/v8/commands/npm-deprecate

[2022-03-18 13:02] jscheid opened #428 "Could not find a declaration file for module 'just-omit' with Typescript 4.7"
This might not be a problem because Typescript 4.7 isn't an official release (yet), but I'm getting this error message:

[code]

All the many other TS packages I'm using seem to work fine, that's why I thought I'd raise it.

My `tsconfig.json` and `yarn.lock` are here: https://gist.github.com/jscheid/afa11309bf44789ac75ffa51163e061f
Let me know if you need anything else from me.

[2022-03-18 17:28] toffzz opened #430 "Question on future plans: isEqual"
We are looking at this package as we deprecate our use of lodash, this is awesome!

Want to know about your future planning, is `isEqual` being considered?

Thank you!

[2022-03-19 17:50] angus-c commented on #430
Hi @toffzz. I think the existing [just-compare](https://github.com/angus-c/just#just-compare) is equivalent to Lodash's isEqual.

[2022-03-19 17:58] #423 closed

[2022-03-19 18:53] angus-c commented on #410
WIP see #431

[2022-03-19 19:00] angus-c commented on #428
See #429

[2022-03-19 19:03] angus-c commented on #421
Possibly fixed by #429?

[2022-03-23 15:11] lsbyerley opened #433 "just-omit does not omit deep value"
Consider the following example, `__typname` is not removed from the nested extract object.

[code]

[2022-03-24 07:31] Nikaple commented on #433
I think this is the intended behavior, see [lodash docs](https://lodash.com/docs/4.17.15#omit)

[2022-03-24 12:32] lsbyerley commented on #433
I don't think that is the case. I am switching out lodash omit for just-omit and the lodash omit performs a deep omit on the object whereas just-omit does not.

[2022-03-24 12:41] lsbyerley opened #434 "Equivalent of lodash mergeWith"
Greetings.. is there a just equivalent to the lodash method mergeWith? https://lodash.com/docs/4.17.15#mergeWith

Curious if I was overlooking it but I don't think there is?

[2022-03-27 06:53] angus-c commented on #434
Hi @lsbyerley. No there isn't but we accept PRs :)
Otherwise I will try to get to it myself.

[2022-03-27 19:46] angus-c commented on #433
I don't see that behavior in lodash

[code]

[2022-03-27 19:48] #430 closed

[2022-04-05 03:30] patrickcate opened #442 "kebabCase can leave trailing hyphen"
I noticed that the `kebabCase` function leaves a trailing hyphen if the ending character is not `A-Za-z`. Lodash and other string case libraries do not include trailing hyphens.

[code]

[2022-04-09 21:52] angus-c commented on #442
Thank you. I will fix this

[2022-04-09 21:52] #433 closed

[2022-04-09 21:53] angus-c commented on #313
One left! Thanks to @Masa-Shin

[2022-04-10 03:07] angus-c commented on #410
Fixed in #431

[2022-04-10 03:07] #410 closed

[2022-04-13 06:26] zirkel opened #443 "diff of array values generates operations in order which throws exception on diff-apply"
### How to reproduce
[code]

[2022-04-15 12:11] ilearnio opened #445 "TypeScript | just-omit doesn't show error when passing unknown object properties"
"just-omit" is not showing errors when passing object properties that don't exist in an object. It should be an easy fix:

In https://github.com/angus-c/just/blob/master/packages/object-omit/index.d.ts just need to replace `Key extends string` with `Key extends keyof Obj`. Sorry for not creating a PR, I just think there should be more similar packages that need to be updated in similar way.

![ima

[2022-04-16 13:38] breggle commented on #313
Added type definitions for function-curry #446
Well, it is just okay to call the curried function without any arguments. Not sure this is wanted? That PR do not prevent this, but it can with a litter modification.

[2022-04-16 22:10] angus-c commented on #445
Thanks @ilearnio. Although the code change looks robust, it goes against the design of the utility. It was my intention that it should silently ignore any remove property that does not exist in the object. Both object properties and remove properties can be dynamic and it can be inconvenient to be bound by this kind of rule (e.g. what if two async transactions are trying to omit the same property

[2022-04-16 22:10] #445 closed

[2022-04-30 20:18] angus-c commented on #443
Good catch, thanks. I will fix

[2022-04-30 21:34] #443 closed

[2022-04-30 21:38] angus-c commented on #443
Fixed in just-diff@5.0.2

[2022-05-08 20:43] #442 closed

[2022-05-08 20:50] angus-c commented on #442
Fixed in just-kebab-case@4.0.2

[2022-05-09 02:59] so5 opened #451 "missing parentheses in diff-apply sample code"
Hi,

In the diff-apply's sample code (https://github.com/angus-c/just#just-diff-apply),
parentheses on the import line seem to be missing.

It should be `import {diffApply} from 'just-diff-apply';` right?

[2022-05-09 03:12] Mon0Man opened #452 "Move an array item to a different position"
Hey mates, making a module proposal.
ref:
https://www.npmjs.com/package/array-move
https://stackoverflow.com/questions/5306680/move-an-array-element-from-one-array-position-to-another

[2022-05-19 16:36] ardok opened #455 "Is `just-merge` supposedly the same as `lodash/extend`?"
It looks like it's not?
<img width="440" alt="image" src="https://user-images.githubusercontent.com/1380581/169352411-b68f6205-8256-4dc2-aafe-19dcd4655859.png">
I expect `b` to have `one` and `two`.

-----

Same with `just-extend`, it doesn't seem to do "deep merge".

[2022-05-19 16:38] ardok commented on #455
This is `lodash/merge`:
<img width="433" alt="image" src="https://user-images.githubusercontent.com/1380581/169352768-3f2c0488-b186-4020-8e76-282844d9600c.png">

[2022-05-21 17:45] angus-c commented on #455
just-merge is shallow copy
just-merge is optional deep copy (pass true as first argument)
[code]

[2022-05-21 17:45] #455 closed

[2022-05-21 17:48] angus-c commented on #451
Good call, thanks! I'll get to it shortly

[2022-05-21 18:41] FarCryFromHuman opened #456 "just-clone doesn't clone sets and maps"
This may be intended, but I discovered through some debugging that Sets I was using deep in my object structure were not being cloned; the references were being preserved.

Looking at the code, it's because there's no Set or Map handler in the algorithm. On line 24, where the type of the value currently being cloned is fetched, Set type objects return 'Set':
`line 24: var type = {}.toString.call(v

[2022-05-21 23:01] angus-c commented on #451
Fixed in #457

[2022-05-21 23:01] #451 closed

[2022-05-21 23:08] angus-c commented on #456
Yeah not yet supported. I'll try to get to it soon (unless you want to give it a go :))

[2022-05-22 00:33] FarCryFromHuman commented on #456
I ended up putting together something fast and dirty that serves my purposes (managing sets and maps within immer drafts):
[code]

It's not great but it does the job for the moment. If I have time later on I'll put up a PR for you.

[2022-05-30 20:08] angus-c commented on #456
Fixed in just-clone@5.1.0 (see #458)
This should work for Sets/Maps as root object or as object properties

[2022-05-30 20:08] #456 closed

[2022-05-31 17:56] angus-c opened #459 "[just-clone] Make Set and Map clone recursive"
Sets or Maps nested within other Sets and Maps will not currently be cloned

[2022-06-01 13:45] PuruVJ commented on #313
Only one package left for typescript 🥳

[2022-06-03 19:17] dimfeld opened #460 "just-compare types don't work with generics"
There doesn't seem to be a way to use generic types as inputs to `just-compare`.

[Typescript Playground Link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAYwuAhlApnAZlZcDkAVgK4DOMAtEqhvgNwBQDWxAdgjMBK4smGugCSMADwAVOOgAeMdKwAmpOAG8A+sHkAuOOSjBWAcwC+APgAU3dNrEAaODADuEawEoVDOJ7gYYxKD2p+DAtWdDtHCBdGIyA)

[code]

Typescript doesn't seem to like `Exclude<DATA, Primitive>` in this case. This

[2022-06-04 20:58] angus-c commented on #460
Sounds good. Yes I'd appreciate a PR, thanks!

[2022-06-04 21:06] angus-c commented on #459
Fixed by #461
just-clone@6.0.0

[2022-06-04 21:06] #459 closed

[2022-06-04 21:32] angus-c commented on #392
Ok @maxsynnott, since just-clone needs to support Map and Set input I've used ES5+ syntax there—so I've updated the platform support https://github.com/angus-c/just#browserplatform-support-computer

Upshot is, yes, I think it's now time to deprecate some packages. Maybe we could start by just adding a "deprecated—use ..." label at the top of the associated READMEs. This could probably be abstracte

[2022-06-12 00:13] #460 closed

[2022-07-04 13:56] saiballo opened #467 "warning with rollup-plugin-svelte"
If I use just-debounce-it with rollup I receive this warning:

[rollup-plugin-svelte] The following packages did not export their `package.json` file so we could not check the "svelte" field. If you had difficulties importing svelte components from a package, then please contact the author and ask them to export the package.json file.

[2022-07-10 19:19] angus-c commented on #452
This is a great idea. Thanks!

[2022-07-10 19:33] angus-c opened #468 "Make compatible with TS 4.7"
Add `"types": "./index.d.ts"` to every package.json `exports` dot property

See https://github.com/angus-c/just/pull/429#issuecomment-1097174234
Existing issue: https://github.com/angus-c/just/issues/428

[2022-07-10 19:33] angus-c commented on #428
See https://github.com/angus-c/just/issues/468

[2022-07-10 19:33] #428 closed

[2022-07-13 10:50] TClark1011 opened #472 "ESLint is not configured to work with Typescript"
Currently, eslint cannot be used to format typescript files in this project because the "@typescript/eslint" parser needs to be used. I have already got this fixed on my fork, I just figured I would check to make sure this is something that is actually wanted before I opened up a new PR.

[2022-07-13 10:53] TClark1011 commented on #313
I've opened a PR with typings for the last package #469

[2022-07-18 23:02] angus-c commented on #472
Yes this makes sense. PR would be really welcome. Thanks!

[2022-07-19 23:54] TClark1011 opened #475 "'pipe' function"
- **Flow:** A left-to-right version of `compose`
- **Pipe:** A version of `flow`, except instead of returning a new function, the first parameter is passed through the composed function and the end result is returned

Reference: https://mobily.github.io/ts-belt/api/pipe-flow

[2022-07-25 14:41] neil-morrison44 opened #476 "Overly strict TS typings on `just-compare`"
https://github.com/angus-c/just/blob/fee2bf9/packages/collection-compare/index.d.ts

The typescript typings on this seem to be unrepresentative of the JS functionality
As far as I can tell doing
[code]
would just return
[code]
in a pure JS env, but with TS it causes an error

Which isn't too much of an issue if you're passing `null` manually, but if you've got a value coming from elsewhere with a

[2022-07-30 06:11] alirezahmz opened #477 "get undefined error in diffApply"
When I delete an item, it returns undefined and when I use diffApply with undefined value, I get the following error.
![diffApply](https://user-images.githubusercontent.com/64639961/181877229-824c0dfa-bfa5-4c56-a70a-468c055959c1.PNG)

[2022-07-31 22:38] #472 closed

[2022-07-31 22:40] angus-c commented on #313
And we're done! Many thanks to everyone who helped with this. Great job!

[2022-07-31 22:40] #313 closed

[2022-07-31 22:44] angus-c commented on #476
I agree with this.

[2022-07-31 22:50] angus-c commented on #477
Can you give an example of you are trying to do?
I don't think we should support `diffApply(undefined, diff)`.

[2022-07-31 22:52] angus-c commented on #475
I like both of these. PRs welcome of I don't get to it myself.

[2022-08-01 08:31] TClark1011 commented on #475
I'm happy to do it, is there any particular procedure for creating new modules?

[2022-08-01 08:39] TClark1011 commented on #475
I actually just realised that `just-compose` already uses left-to-right function composition, so `flow` is irrelevant. Sorry about that, I'm just so used to `compose` using right-to-left composition that I didn't even check. I'm still happy to create `pipe` however

[2022-08-02 00:15] angus-c commented on #475
Ha no my bad. I wrote it so long ago I forgot :)
[Here are the guidelines](https://github.com/angus-c/just/blob/master/CONTRIBUTING.md) for creating new modules

[2022-08-02 22:27] TClark1011 opened #481 "Package Idea: array upsert"
An idea for a new package: An "upsert" function for arrays. This would be based on the "upsert" operation commonly used in databases, which is a combination of "update" and "insert", however, we would adapt it to fit better for use with arrays.

You would call the function similar to this:

[code]

The idea is that you pass an array, and index that you want to "upsert" into, and the element which

[2022-08-04 17:21] saibotsivad commented on #467
## Summarized Discussions

Reading through the discussion at [rollup-plugin-svelte#181](https://github.com/sveltejs/rollup-plugin-svelte/issues/181), probably the most pertinent information comes from the NodeJS docs:

https://nodejs.org/api/packages.html#packages_package_entry_points

And in a discussion on a different repo PR, [a comment](https://github.com/js-cookie/js-cookie/pull/727#issuecomm

[2022-08-04 17:25] saibotsivad commented on #467
@angus-c if you'd like a pull request for the above solution, I can put one together that "just" (tee-hee!) runs that diff for all appropriate `package.json` files.

[2022-08-05 14:57] benasher44 commented on #468
Would contributions here still be helpful? Happy to open a PR!

[2022-08-06 07:06] vajahath opened #482 "Could not find a declaration file for module 'just-diff'."
Related thread: https://github.com/angus-c/just/pull/429#issuecomment-1097174234

[2022-08-06 17:27] danawoodman commented on #392
Perhaps the docs for each of these could call out the ES6+ alternative with a note of when it became available?

[2022-08-06 21:40] angus-c commented on #481
Hi Thomas, thanks for the suggestion.
My first thought was you could achieve the same with Array#splice.
But that said, splice mutates and does not return the updated value. So yes I think this has value!

[2022-08-06 21:43] angus-c commented on #468
Yes please!

[2022-08-06 21:47] angus-c opened #483 "Add `types` property to package.json `"exports"."."` property for all packages."
See
https://github.com/angus-c/just/pull/429#issuecomment-1097174234
https://github.com/angus-c/just/issues/482

[2022-08-06 21:48] angus-c commented on #482
Thanks for reporting Vajahath.
Added a blanket issue that should cover this.
https://github.com/angus-c/just/issues/483

[2022-08-06 21:48] #482 closed

[2022-08-06 22:09] angus-c commented on #467
That would be great. Thanks!

[2022-08-07 02:44] saibotsivad commented on #467
I got you fam, see PR #484 🎉

[2022-08-07 02:57] saibotsivad commented on #483
Since my PR was touching the `package.json` files already, I went ahead and added this to it in #484

[2022-08-07 16:05] 47vigen commented on #477
I don't think the issue @alirezahmz said was in the sense you said, I have encountered this problem several times in nested objects.
We use this package as a transaction in a project, and in this case, we often encounter the "undefined" problem.

example:
[code]

[2022-08-07 22:27] #467 closed

[2022-08-07 22:46] angus-c commented on #483
Thank you!

[2022-08-07 22:46] #483 closed

[2022-08-07 22:48] #476 closed

[2022-08-08 12:09] micheledilernia-kanpla opened #486 "Module not found: Default condition should be last one"
Hi😁
I'm having some troubles building my Next.js project. The terminal keeps throwing this error: `Module not found: Default condition should be the last one`.

<img width="501" alt="Screenshot 2022-08-08 at 13 59 03" src="https://user-images.githubusercontent.com/97735849/183412987-0be54a4c-a598-42bf-b14f-72bc57cd5d50.png">

 Searching around I found this link that explains why it happens: **[Mod

[2022-08-08 15:49] saibotsivad commented on #486
Sure enough, from the NodeJS docs it says:

I broke that with #484 sorry about that! 🤦

Give me a few minutes and I'll make a PR to re-order them.

[2022-08-08 15:59] saibotsivad commented on #486
Sorry about that @angus-c there's a fix in #488 for you.

[2022-08-08 17:54] angus-c commented on #486
Thanks for reporting this @micheledilernia-kanpla!
I've applied @saibotsivad's  fix and published a patch version for every package.
Let us know if this is still an issue after you upgrade to the patch(es)

[2022-08-08 17:54] #486 closed

[2022-08-08 18:33] benasher44 commented on #468
Took a slightly different approach and instead took this all a step closer to being more ESM-ready in #489

[2022-08-08 18:40] angus-c commented on #468
Thanks Ben! Going to have to do some thorough testing so might not get to this until at least next weekend

[2022-08-08 18:47] benasher44 commented on #468
No problem. Thank you!

[2022-08-09 14:29] micheledilernia-kanpla commented on #486
@angus-c and @saibotsivad It's working fine! Thanks😁

[2022-08-21 10:39] lescuer97 opened #491 "Add just to external party modules in Deno"
Because, this doesn't really have dependencies it would be cool to have this library available in Deno for the people to use.

This are the instruction, it should not be hard:
https://deno.land/add_module

[2022-08-21 20:59] angus-c commented on #491
Thanks! Looks like I added the webhook successfully. Let me know if there are any issues.

[2022-08-21 20:59] #491 closed

[2022-08-23 07:26] lescuer97 opened #493 "Problems with the Deno module"
the external module appears as module not found, https://deno.land/x/just. maybe it could be something with the subdirectories or the correct options on the webhook where not selected?

[2022-08-23 17:10] benasher44 commented on #468
After the latest updates (guessing #488), the packages are now usable by doing `import { default as <x> } from "just-<x>";`. The open PR would still improve things for NodeNext users, but at least now there is a path forward!

[2022-08-25 03:17] TClark1011 commented on #481
@angus-c sorry for the delay, I've just started work on this. Do you think this function should mutate the original array that is passed as the first parameter, or should it just return the updated array without affecting the original?

[2022-09-01 18:01] jblyberg commented on #421
I can confirm that this is still the case. Using just-union 3.1.1

[2022-09-07 11:53] jimmywarting opened #494 "suggestion: for group by"
1. make it acceptable of iterable objects
2. use `Object.create(null)` to avoid having to check if xyz is an array using Array.isArray
3. allow using a 3th argument as a destination object that defaults to an object. (incase you need to use the same object for more stuff)

[code]

[2022-09-08 13:02] aradalvand opened #495 "`omit` typing?"
Hi there, thanks for this immensely useful library.

The current signature of the `omit` function is as follows:

[code]

This doesn't make sense, it means that you get no type-safety whatsoever when specifying the property keys, they would effectively be magic strings. Why not:

[code]

This, on the other hand, does provide type-safety and all the goodness that comes with it (e.g. code completion

[2022-09-09 03:15] Masa-Shin commented on #495
Thanks, I will fix this.

[2022-09-09 03:25] Masa-Shin commented on #495
Now I remember why the type definition is like that. In the example of the package you can find `omit(obj, ['a', 'b', 'd']); // {c: 9}`, where `d` is not a key of `obj`.

[2022-09-09 09:32] aradalvand commented on #495
@Masa-Shin Then why isn't `pick` like that? They at least have to be consistent, don't they?

`pick`'s signature looks like this:
[code]

And there's also an example like the one you mentioned for `pick` [here](https://github.com/angus-c/just#just-pick):
[code]
This example actually yields an error:

![image](https://user-images.githubusercontent.com/26527405/189319072-e7cb7138-6989-41ee-9ecd-20d6

[2022-09-09 10:57] Masa-Shin commented on #495
I see your point. I made `omit`'s typing reflect the actual behavior of the function for the convenience of those who already using it (as they may have passed arbitrary lists of string to it), but I realized that people using TS may be looking for safety over convenience so now I rather agree with your suggestion.

[2022-09-09 11:04] Masa-Shin commented on #495
I think it is OK to make a PR for the issue since that for the `pick` has already been merged. I will make a PR If it is OK with you.

[2022-09-09 11:16] aradalvand commented on #495
Yes, exactly!

Yeah I think that makes sense, that would be great, thank you so much! :)

[2022-09-10 21:12] angus-c commented on #495
Thanks @aradalvand and @Masa-Shin! PR landed

[2022-09-10 21:12] #495 closed

[2022-09-15 10:19] Lucky-victory commented on #481
Permission to work on this?

[2022-09-29 15:57] brandonmcconnell opened #502 "Inaccurate result for `union` examples"
Both in the main [README](https://github.com/angus-c/just#just-union) and in the comment within the [linked source](https://github.com/angus-c/just/blob/master/packages/array-union/index.js), the result is presented as `[1, 2, 3, 4, 5, 6]`, but the actual result is `[1, 2, 5, 6, 3, 4]`, since arrays intrinsically respect insertion order.

I found this confusing as it seemed to suggest that union a

[2022-09-29 16:14] brandonmcconnell commented on #502
This issue will be fixed by merging PR #503

[2022-09-29 18:03] loynoir opened #504 "[feat] more accurate type for just-curry-it"
### Package
`just-curry-it@5.2.1`

### Example
[code]

### Actual
[code]

### Expected
[code]

### Related
[RyanCavanaugh](https://github.com/RyanCavanaugh) said it is possible.

https://github.com/microsoft/TypeScript/issues/50991#issuecomment-1262574411

[2022-09-30 15:28] talski opened #505 "just-diff considering array positions"
[code]
Will result in
[code]
There's a way to get this? since we are removing first position, there's no need to replace the other positions
[code]
I need to store the steps to get back in time with an object, and the current result will get pretty large as array gets bigger

[2022-10-05 12:17] qraynaud commented on #505
I have the same issue. This is even more true with complex objects that gets completely moved from one cell to others.

[code]
Results in:
[code]
This is horrible even on small arrays with "big" objects in them.

[2022-10-13 06:20] mrmlnc commented on #421
Yeap, the problem still exists.

I found a description of the problem and a possible solution in the TypeScript repository:

https://github.com/microsoft/TypeScript/issues/50067#issuecomment-1201663658

So, it works. I checked it by manually making changes to the package.

[code]

[2022-10-25 10:10] blumewas opened #506 "just-clone does not maintain class inheritance"
Hi,

it seems like that 'just-clone' does not maintain the class for objects created via `new classes`.

E.g.:

[code]

It would be great if clone would support objects created from classes. If you would like to keep the speed of the function there might be room for a slower function which keeps this inheritance.

[2022-11-03 05:39] jitendrakhodani opened #508 "just-percentile throws ‘The percent must be between 0 and 1 when percentage argument value is less then 0 or greater than 1"
just-percentile throws ‘The percent must be between 0 and 1 when percentage argument value is less than 0 or greater than 1 at line number 11 https://github.com/angus-c/just/blob/4636c2c6b6df2500df5217f579818283916d2215/packages/array-percentile/index.js#L11

However, examples in documentation for just-percentile shows percentile method accepts values greater than 1.

percentile([1, 2, 3], 50); //

[2022-11-14 15:24] anthonyma94 opened #509 "deep copy functions (just-clone, just-extend) loses class reference when a class instatiation is passed"
When a non-POJO object is passed to be cloned, the object is converted into a POJO, losing all functions.

[code]

[2022-11-19 20:53] angus-c opened #510 "My todo list"
1) Run `build` and `generate-readme` scripts on `just-pipe`. Publish.

[2022-11-19 21:17] #502 closed

[2022-11-19 21:46] angus-c commented on #506
Closing as out of scope of this util

[2022-11-19 21:46] #506 closed

[2022-11-19 21:46] angus-c commented on #509
Duplicate of #506

[2022-11-19 21:46] #509 closed

[2022-11-19 21:49] angus-c commented on #508
Good call! The documentation is wrong. I will fix it.

[2022-11-19 21:55] #508 closed

[2022-11-19 21:56] angus-c commented on #508
Fixed!

[2022-11-19 21:57] angus-c commented on #504
Thank you. Not great at TS so I will leave this out there if anyone wants to take it.

[2022-11-19 21:59] angus-c commented on #505
Thanks yes this needs optimizing. Apologies I don't have much free time for this project right now but will get to it if someone else does not first,

[2022-11-22 00:28] Supraja9726 opened #516 "Prototype pollution found in just-map-object"
A Prototype pollution vulnerability is found in the just-map-object module's map function.

The exploit PoC can be found below:

[code]

[2022-11-26 21:53] kachkaev opened #517 "just-flush-recursively / just-flush-deep / just-deep-flush / just-flush-object?"
Hi @angus-c, great repo! 💯

I bumped into [just-flush](https://www.npmjs.com/package/just-flush) which was very close a function I needed. I wonder if you’d be open to accept a PR with a recursive version of the function, WDYT?

[code]

It might be also useful to consider a mode when nullish items are not removed from arrays, but not 100% sure about this 🤔

[code]

[2022-11-26 21:57] kachkaev commented on #517
My current solution is this:

[code]

It works well for relatively small objects, but obviously does not scale if a JSON is very large. I’m looking for some third-party package that would save me from copying this small helper function between repos.

[2022-11-27 23:43] cycle4passion opened #518 "just-omit only handles root level omissions"
easily could change to use code like just set, then handles nested objects/arrays. all i changed was dropping value param, and `obj[lastProp] = value` become `delete obj[lastProp]`.

[code]